.badges {
	&__list {
		@include reset-list;
		display: flex;
		flex-flow: row wrap;
		gap: 15px;
		align-items: center;
	}
	&__item {
	}
	&__link {
		border-radius: 5px;
		padding: 5px 15px;
		min-height: 34px;
		background-color: #eff2f8;
		display: grid;
		place-items: center;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		transition:
			background-color $time,
			color $time;
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
				background-color: $blue-1;
				color: $white;
			}
		}
	}
}
