.breadcrumbs {
	margin: 20px 0;
	@media screen and (max-width: $md) {
		margin: 10.5px 0;
		& .container {
			padding-right: 0;
		}
	}
	&__navigation {
	}
	&__list {
		@include reset-list;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 5px;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
			background: none;
			display: none;
		}
		overflow-y: hidden;
		overflow-x: auto;
	}
	&__item {
		font-size: 12px;
		line-height: 120%;
		flex-shrink: 0;
		& + & {
			display: flex;
			align-items: center;
			gap: 5px;
			&::before {
				content: '';
				display: block;
				width: 9px;
				height: 17px;
				flex-shrink: 0;
				background-image: url('../images/icons/arrow-right.svg');
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
		&.active {
			color: $gray-text;
			pointer-events: none;
		}
	}
	&__link {
	}
}
.container {
}
