.header {
	padding: 10px 0;
	min-height: $header-height;
	background-color: $white;
	z-index: 5;
	@media screen and (max-width: $xl) {
		min-height: 70px;
		padding: 10px 0;
		display: grid;
		place-items: center;
		position: sticky;
		top: 0;
		& .container {
			width: 100%;
		}
	}
	@media screen and (max-width: $md) {
		min-height: 50px;
		padding: 2px 0;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__left {
		display: flex;
		align-items: center;
		gap: 0 50px;
		@media screen and (max-width: $xl) {
			gap: 0 20px;
		}
	}
	&__logo {
		display: block;
	}
	&__choices {
		position: relative;
		@media screen and (max-width: $xl) {
			display: none;
		}
	}
	&__btn-choice {
		gap: 10px;
		&::after {
			content: '';
			width: 13px;
			height: 13px;
			mask-image: url('../images/icons/chevron.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $white;
			transition:
				background-color $time,
				transform $time;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: rgba($white, 0.3);
				border-color: transparent;
				&::after {
					background-color: currentColor;
				}
			}
			&.active,
			&:active {
				color: $white;
				background-color: $blue-1;
				border-color: $blue-1;
				&::after {
					background-color: currentColor;
				}
			}
			&.active {
				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: $xl) {
			gap: 27px;
			flex-direction: row-reverse;
			& .btn {
				padding: 0;
				min-height: auto;
			}
		}
	}
	&__favorite {
		width: 24px;
		height: 24px;
		display: block;
		&::before {
			// content: '';
			// display: block;
			// flex-shrink: 0;
			// width: 24px;
			// height: 24px;
			// mask-image: url('../images/icons/favorite.svg');
			// background-color: $white;
			// mask-repeat: no-repeat;
			// mask-position: center;
			// mask-size: 24px 24px;
		}
		& svg {
			width: 24px;
			height: 24px;
			display: block;
			& path {
				transition: fill $time;
			}
			& path:first-child {
				fill: transparent;
			}
			& path:last-child {
				fill: $white;
				@media screen and (max-width: $xl) {
					fill: $gray-text;
				}
			}
		}
		&.active {
			& svg {
				& path:first-child {
					fill: $orange;
				}
				& path:last-child {
					fill: $orange;
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& svg path {
					fill: $white;
				}
			}
		}
	}
	&__btn-auth,
	&__btn-add,
	&__btn-choice {
		padding-left: 24px;
		padding-right: 24px;
	}
	&__btn-add {
		gap: 10px;
		flex-shrink: 0;
		&::after {
			content: '';
			flex-shrink: 0;
			display: block;
			width: 22px;
			height: 22px;
			mask-image: url('../images/icons/add-project.svg');
			background-color: currentColor;
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 22px 22px;
		}
		@media screen and (max-width: $xl) {
			font-size: 0;
			width: 24px;
			height: 24px;
			padding: 0;
			min-height: 24px;
			gap: 0;
			border: none;
			&::after {
				width: 100%;
				height: 100%;
				background-color: $gray-text;
			}
		}
	}
	&__btn-auth {
		@media screen and (max-width: $xl) {
			display: none;
		}
	}
}
.header-burger {
	display: none;
	width: 28px;
	height: 28px;
	place-items: center;
	flex-shrink: 0;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	user-select: none;
	position: relative;
	& svg {
		pointer-events: none;
	}
	&.active {
		& .burger-lines {
			opacity: 0;
			transform: translateX(-100%);
		}
		& .burger-close {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@media screen and (max-width: $xl) {
		display: grid;
		z-index: 24;
	}
}

.burger-lines {
	transition:
		opacity $time,
		transform $time;
	opacity: 1;
}

.burger-close {
	opacity: 0;
	position: absolute;
	inset: 0;
	transform: translateX(100%);
	transition:
		opacity $time,
		transform $time;
}

.menu {
	display: none;
	@media screen and (max-width: $xl) {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100dvh;
		min-height: 100dvh;
		background-color: $white;
		z-index: 20;
		transform: translateX(-100%);
		transition: transform $time * 2;
		&.active {
			transform: translateX(0);
			& .menu__text {
				opacity: 1;
			}
		}
	}
	&-main {
		padding: 0px 12px 0px;
	}
	&__body {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px 0 20px;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
		}
	}
	&__top {
		border-bottom: 1px solid $gray-line;
		padding: 12px 12px 10px 60px;
		height: 70px;
		display: grid;
		align-items: center;
		position: sticky;
		top: 0;
		@media screen and (max-width: $md) {
			height: 50px;
		}
	}
	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		opacity: 0;
		color: $black;
		transition: opacity $time ease 0.4s;
	}
	&__list {
		@include reset-list;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__link {
		font-size: 16px;
		line-height: 130%;
		color: $black;
	}
	&__actions {
		display: grid;
		gap: 10px;
		margin-top: 20px;
		& .header__btn-auth {
			display: block;
			border-color: $gray-text;
			color: $gray-text;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 45px;
			padding: 10px 20px;
		}
		& .header__btn-add {
			width: 100%;
			height: 100%;
			background-color: $orange;
			font-size: 16px;
			line-height: 130%;
			border: 1px solid $orange;
			min-height: 51px;
			padding: 10px 20px;
			color: $white;
			gap: 10px;
			&::after {
				width: 21px;
				height: 21px;
				background-color: currentColor;
			}
		}
	}
}

body:not(.home) {
	& .header .btn {
		min-height: 45px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: $gray-text;
	}
	& .header {
		@media screen and (max-width: $xl) {
			& .menu-actions .header__btn-add.btn {
				min-height: 51px;
			}
		}
		&__links {
			@media screen and (max-width: $xl) {
				& .btn {
					padding: 0;
					min-height: auto;
				}
			}
		}
		&__favorite {
			& svg {
				& path:first-child {
					fill: transparent;
				}
				& path:last-child {
					fill: $gray-text;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					& svg path {
						fill: $gray-text;
					}
				}
			}
			&.active {
				& svg {
					& path:first-child {
						fill: $orange;
					}
					& path:last-child {
						fill: $orange;
					}
				}
			}
		}
		&__btn-choice {
			border-color: currentColor;
			color: currentColor;
			&::after {
				background-color: currentColor;
			}
		}
		&__btn-choice.btn.active {
			@media (any-hover: hover) {
				&:hover:not(.active) {
					color: $white;
					background-color: $gray-text;
					border-color: $gray-text;
					&::after {
						background-color: $white;
					}
				}
			}
			&.active {
				color: $white;
				background-color: $blue-1;
				border-color: $blue-1;
				&::after {
					background-color: $white;
				}
			}
		}
		&__favorite {
			&::before {
				background-color: currentColor;
			}
		}
		&__btn-auth {
			border-color: currentColor;
			color: currentColor;
		}
		&__btn-add {
			border-color: $orange;
			color: $orange;
			@media (any-hover: hover) {
				&:hover {
					color: $white;
					background-color: #ff8052;
					border-color: #ff8052;
					&::after {
						background-color: currentColor;
					}
				}
				&:active {
					color: $white;
					background-color: #ee5923;
					border-color: #ee5923;
					&::after {
						background-color: currentColor;
					}
				}
			}
		}
		&__btn-add.btn {
			color: $orange;
		}
		& .menu__actions {
			& .header__btn-add {
				color: $white;
			}
		}
	}
	& .header .btn-transparent:not(.active) {
		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: $gray-text;
				border-color: $gray-text;
				&::after {
					background-color: currentColor;
				}
			}
			&:active {
				color: $white;
				background-color: $blue-1;
				border-color: $blue-1;
				&::after {
					background-color: currentColor;
				}
			}
		}
	}
}
