// стили всплывающего окна
.popup {
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($black, 0.7);
	z-index: 11;
	position: fixed;
	top: 0;
	right: -20px;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	padding: 30px 20px 30px 0;
	pointer-events: none;
	transition:
		opacity 0.4s,
		visibility 0.4s;
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		width: 0;
		height: 0;
		background: none;
		display: none;
	}
	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	&__window {
		max-width: 870px;
		width: calc(100% - 20px);
		margin: auto;
		background-color: #fff;
		position: relative;
		top: -60px;
		padding: 48px 60px 64px;
		transition:
			top $time,
			bottom $time;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 2px 20px 0px rgba(13, 13, 13, 0.05);
		@media (max-width: $md) {
			padding: 50px 30px;
		}
		@media (max-width: $xs) {
			padding: 30px 20px;
		}
	}
	&.active &__window {
		top: 0;
	}
	&__close {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: white;
		z-index: 10;
		&:before,
		&:after {
			content: '';
			width: 15px;
			height: 2px;
			background-color: $black;
			border-radius: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			transition: background-color 0.3s;
		}
		&:hover:before,
		&:hover:after {
			background-color: $orange;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
		.popup-room & {
			top: 25px;
			right: 25px;
			width: 34px;
			height: 34px;
			background-color: transparent;
			&::before,
			&::after {
				width: 25px;
				background-color: $gray-background;
				height: 1px;
			}
		}
	}
	h2 {
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 18px;
	}
	h3 {
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 26px;
	}
}

.popup-map {
	height: 100%;
	& .popup__window {
		padding: 0;
		height: 100%;
		@media screen and (max-width: $xl) {
			width: 100%;
			border-radius: 0;
			top: 0;
			bottom: 0;
			transform: translateY(100%);
			transition: transform $time * 2;
		}
	}
	@media screen and (max-width: $xl) {
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 50px;
		right: 0;
		&.active {
			& .popup__window {
				transform: translateY(0);
			}
		}
	}
	& .filter-button-mobile {
		display: none;
		position: absolute;
		top: 15px;
		left: 12px;
		width: 124px;
		min-height: 41px;
		z-index: 10;
		background-color: $white;
		color: $black;
		font-size: 14px;
		line-height: 130%;
		gap: 5px;
		border-radius: 30px;
		@media screen and (max-width: $xl) {
			display: flex;
		}
	}
}
.popup-map__container {
	height: 100%;
	width: 100%;
	& .map {
		width: 100%;
		height: 100%;
	}
}

.popup-room {
	& .popup__window {
		padding: 0;
		@media screen and (max-width: $md) {
			width: 100%;
			border-radius: 0;
		}
	}
}
