.post-item {
	border-radius: 10px;
	background: $white;
	overflow: hidden;
	transition: box-shadow $time;
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			box-shadow: $shadow;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 300px 1fr;
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
		}
	}
	&__image {
		padding-bottom: math.div(259, 300) * 100%;
	}
	&__content {
		padding: 49px 30px 50px 20px;
		display: grid;
		gap: 10px;
		border: 1px solid $gray-line;
		border-left: 0;
		border-radius: 0 10px 10px 0;
		@media screen and (max-width: $md) {
			border-radius: 0;
			border: 1px solid $gray-line;
			border-top: 0;
			border-radius: 0 0 10px 10px;
			padding: 15px 20px 20px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		color: $black;
		@media screen and (max-width: $md) {
			line-height: 130%;
		}
	}
	&__description {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		& .btn-detail {
			font-size: inherit;
			line-height: inherit;
		}
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 140%;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__date {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__badge {
		padding: 7px 15px;
	}
}
