.sorting {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 14px;
	line-height: 140%;
	gap: 30px;
	position: relative;
	z-index: 4;
	@media screen and (max-width: $xl) {
		width: auto;
		&.active {
			& .sorting__list {
				opacity: 1;
				transform: translateY(0);
				pointer-events: all;
			}
		}
	}
	&__caption {
		color: $gray-text;
		@media screen and (max-width: $xl) {
			display: none;
		}
	}
	&__list {
		@include reset-list;
		display: flex;
		align-items: center;
		gap: 21px;
		@media screen and (max-width: $xl) {
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			border-radius: 8px;
			padding: 8px 0px;
			min-height: 127px;
			box-shadow: 5px 5px 30px 0 rgba(132, 143, 183, 0.2);
			background: $white;
			display: flex;
			flex-direction: column;
			width: 249px;
			z-index: 5;
			gap: 0;
			transform: translateY(20px);
			opacity: 0;
			pointer-events: none;
			transition:
				transform $time,
				opacity $time;
		}
	}
	&__list-item {
		color: $black;
		transition: color $time;
		display: flex;
		align-items: center;
		gap: 5px;
		&::after {
			content: none;
			display: block;
			width: 10px;
			height: 12px;
			mask-image: url('../images/icons/sort-arrow.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $blue-1;
			opacity: 0;
			transition: opacity $time;
		}
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
				color: $blue-1;
			}
		}
		&[data-sort='down'] {
			&::after {
				transform: rotate(180deg);
			}
		}
		&.active {
			color: $blue-1;
			&::after {
				content: '';
				opacity: 1;
			}
			@media screen and (max-width: $xl) {
				background-color: $gray-background;
			}
		}
		@media screen and (max-width: $xl) {
			min-height: 37px;
			justify-content: space-between;
			padding: 7px 16px;
			width: 100%;
		}
	}
}
