@use 'sass:math';

.testimonials {
	&__wrapper {
		display: grid;
		gap: 20px;
	}
	&__body {
		display: grid;
		gap: 40px;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
	}
}
.testimonials-item {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 39px 43px 39px 39px;
	background: $white;
	min-height: 300px;
	display: grid;
	grid-template-columns: 330px 1fr;
	align-items: start;
	gap: 30px;
	transition: box-shadow $time;
	@media screen and (max-width: $md) {
		padding: 0;
		gap: 10px;
		grid-template-columns: 1fr;
	}
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			box-shadow: $shadow;
			& .testimonials-item__place {
				color: $orange;
				& span {
					background-size: 100% 1px;
				}
			}
		}
	}
	&__image {
		border-radius: 10px;
		// padding-bottom: math.div(220, 330) * 100%;
		overflow: hidden;
		flex-shrink: 0;
		height: 220px;
		width: 330px;
		@media screen and (max-width: $md) {
			width: 100%;
			padding-bottom: math.div(210, 296) * 100%;
			border-radius: 10px 10px 0px 0px;
		}
	}
	&__body {
		display: grid;
		justify-items: start;
		gap: 10px;
		@media screen and (max-width: $md) {
			padding: 0 20px 20px;
		}
	}
	&__place {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		@media screen and (max-width: $md) {
			font-size: 20px;
			line-height: 130%;
		}
	}
	&__address {
		font-style: normal;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		width: 100%;
		@media screen and (max-width: $md) {
			padding-bottom: 15px;
			border-bottom: 1px solid $gray-line;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 20px;
		width: 100%;
		margin-top: 12px;
		@media screen and (max-width: $md) {
			margin-top: 5px;
			justify-content: space-between;
		}
	}
	&__author {
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		@media screen and (max-width: $md) {
			font-size: 18px;
			line-height: 130%;
		}
	}
	&__date {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__text {
		font-size: 16px;
		line-height: 130%;
	}
	&__btn {
		font-size: 16px;
		line-height: 130%;
	}
	& .rating {
		margin-left: auto;
		@media screen and (max-width: $md) {
			margin: 0;
			width: 100%;
		}
	}
}
