@use 'sass:math';

.testimonials {
	&__wrapper {
		display: grid;
		gap: 20px;
	}
	&__body {
		display: grid;
		gap: 40px;
	}
}
.testimonials-item {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 39px 40px;
	background: $white;
	min-height: 300px;
	display: flex;
	align-items: flex-start;
	gap: 30px;
	transition: box-shadow $time;
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			box-shadow: $shadow;
			& .testimonials-item__place {
				color: $orange;
				& span {
					background-size: 100% 1px;
				}
			}
		}
	}
	&__image {
		border-radius: 10px;
		// padding-bottom: math.div(220, 330) * 100%;
		overflow: hidden;
		flex-shrink: 0;
		height: 220px;
		width: 330px;
	}
	&__body {
		display: grid;
		justify-items: start;
		gap: 10px;
	}
	&__place {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		transition: color $time linear;
		position: relative;
		& span {
			transition: background-size $time cubic-bezier(0.645, 0.045, 0.355, 1);
			background: linear-gradient(to bottom, rgba($orange, 1) 0%, rgba($orange, 1) 98%);
			background-size: 0px 1px;
			background-repeat: no-repeat;
			background-position: left 100%;
		}
	}
	&__address {
		font-style: normal;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
	}
	&__author {
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
	}
	&__date {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__text {
		font-size: 16px;
		line-height: 130%;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		overflow: hidden;
		& p {
			display: inline;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
