.reviews-item {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 30px 29px;
	background: $white;
	transition: box-shadow $time;
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			box-shadow: $shadow;
			& .anim-title {
				color: $orange;
				& span {
					background-size: 100% 1px;
				}
			}
		}
	}
	@media screen and (max-width: $md) {
		padding: 0;
	}
	&.expanded {
		page-break-inside: avoid;
		break-inside: avoid-column;
		margin-bottom: 29px;
		@media screen and (max-width: $md) {
			margin-bottom: 10px;
			padding: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 270px 1fr;
		align-items: start;
		gap: 15px 30px;
		@media screen and (max-width: $xl) {
			grid-template-columns: 100%;
		}
	}
	&__header {
		padding-bottom: 14px;
		border-bottom: 1px solid $gray-line;
		margin-bottom: 20px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
		.expanded & {
			display: grid;
			align-items: center;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				'author date'
				'rating date';
			width: 100%;
			gap: 8px;
			@media screen and (max-width: $md) {
				padding: 0;
			}
		}
		@media screen and (max-width: $md) {
			padding: 0 20px 20px;
		}
	}
	&__author {
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		.expanded & {
			grid-area: author;
			font-size: 18px;
			line-height: 130%;
		}
	}
	&__date {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		.expanded & {
			grid-area: date;
		}
	}
	&__rating {
		width: 100%;
		.expanded & {
			grid-area: rating;
		}
	}
	&__text {
		width: 100%;
		font-size: 16px;
		line-height: 130%;
		display: block;
		overflow: visible;
		@media screen and (max-width: $md) {
			display: -webkit-box;
			overflow: hidden;
		}
		.expanded & {
			font-size: 14px;
			line-height: 142%;
		}
		& .btn-detail {
			display: none;
			font-size: 16px;
			line-height: 130%;
			@media screen and (max-width: $md) {
				display: inline-block;
			}
		}
	}
}
.place-reviews {
	display: grid;
	gap: 5px;
	@media screen and (max-width: $md) {
		gap: 10px;
	}
	&__header {
		display: grid;
		gap: 5px;
		@media screen and (max-width: $md) {
			gap: 10px;
			padding-bottom: 14px;
			border-bottom: 1px solid $gray-line;
			margin: 0 20px;
		}
	}
	.expanded & {
		grid-template-columns: 60px 1fr;
		gap: 5px 20px;
		align-items: center;
		grid-template-areas:
			'img name'
			'img address';
		margin-bottom: 15px;
	}
	&__image {
		padding-bottom: math.div(176, 270) * 100%;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 15px;
		.expanded & {
			grid-area: img;
			padding-bottom: 0;
			width: 60px;
			height: 60px;
			border-radius: 5px;
			margin-bottom: 0;
		}
		@media screen and (max-width: $md) {
			padding-bottom: math.div(210, 294) * 100%;
			margin-bottom: 0;
			border-radius: 10px 10px 0 0;
		}
	}
	&__name {
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		.expanded & {
			grid-area: name;
			font-size: 16px;
			line-height: 130%;
			display: inline-grid;
			justify-self: start;
			align-self: end;
			@media screen and (max-width: $md) {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
				position: relative;
			}
		}
	}
	&__address {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		font-style: normal;
		.expanded & {
			grid-area: address;
			display: inline-grid;
			justify-self: start;
			align-self: start;
		}
	}
}
