@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src:
		url('/assets/fonts/Gilroy-Regular.woff') format('woff'),
		url('/assets/fonts/Gilroy-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src:
		url('/assets/fonts/Manrope-Bold.woff') format('woff'),
		url('/assets/fonts/Manrope-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src:
		url('/assets/fonts/Manrope-ExtraBold.woff') format('woff'),
		url('/assets/fonts/Manrope-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src:
		url('/assets/fonts/Manrope-Regular.woff') format('woff'),
		url('/assets/fonts/Manrope-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src:
		url('/assets/fonts/Manrope-Semibold.woff') format('woff'),
		url('/assets/fonts/Manrope-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src:
		url('/assets/fonts/Manrope-Medium.woff') format('woff'),
		url('/assets/fonts/Manrope-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
