// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1194;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 24;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: $containerWidth + px;
$xs: 479.98px;
$sm: 576px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1024px;
$xxl: 1200px;
$xxxl: 1400px;

// (i) Стили будут применяться ко всем классам содержащим *__container. Например header__container, footer__container и т.д.
// @if ($responsiveType == 1) {
// 	// Отзывчивая
// 	[class*="__container"] {
// 		@if ($maxWidthContainer > 0) {
// 			max-width: $maxWidthContainer + px;
// 			margin: 0 auto;
// 		}
// 		@if ($containerPadding > 0) {
// 			padding: 0 math.div($containerPadding, 2) + px;
// 		}
// 	}
// } @else {
// 	// По брейк-поинтам
// 	[class*="__container"] {
// 		margin: 0 auto;
// 		@if ($maxWidthContainer > 0) {
// 			max-width: $maxWidthContainer + px;
// 		}
// 		@if ($containerPadding > 0) {
// 			padding: 0 math.div($containerPadding, 2) + px;
// 		}
// 		@media (max-width: $xxl) {
// 			max-width: 980px;
// 		}
// 		@media (max-width: $lg) {
// 			max-width: 750px;
// 		}
// 		@media (max-width: $md) {
// 			max-width: 620px;
// 		}
// 		@media (max-width: $sm) {
// 			max-width: 100%;
// 		}
// 	}
// }

// размеры шрифтов
$font-size: 16px;

// Основные Цвета
$blue-1: #18abc6;
$white: #fff;
$black: #08151a;
$gray-background: #f7f9fe;
$orange: #ff6933;
$gray-text: #8897b1;
$gray-line: #e1e3eb;
$blue: #1c8cf3;

// Шрифты
$font-weight: 400;
$font-family: 'Manrope', sans-serif;
$second-family: 'Gilroy', sans-serif;

//
$time: 0.3s;
$header-height: 66px;
