-   
	homePage = {
		"regions": [
			{
				"title": "Отдых в Краснодарском крае",
				"subTitle": "Огромное разнообразие вариантов для отдыха на любой вкус",
				"key": "krasnodar",
				"items": [
					{
						"image": "1",
						"caption": "Адлер"
					},
					{
						"image": "2",
						"caption": "Адлер"
					},
					{
						"image": "3",
						"caption": "Адлер"
					},
					{
						"image": "4",
						"caption": "Адлер"
					},
					{
						"image": "5",
						"caption": "Адлер"
					},
				]
			},
			{
				"title": "Отдых в Крыму",
				"subTitle": "Уникальные места для путешествий",
				"key": "crimea",
				"items": [
					{
						"image": "1",
						"caption": "Адлер"
					},
					{
						"image": "2",
						"caption": "Адлер"
					},
					{
						"image": "3",
						"caption": "Адлер"
					},
					{
						"image": "4",
						"caption": "Адлер"
					},
					{
						"image": "5",
						"caption": "Адлер"
					},
				]
			},
			{
				"title": "Отдых в Абхазии",
				"subTitle": "Чарующая природа и архитектура",
				"key": "abkhazia",
				"items": [
					{
						"image": "1",
						"caption": "Адлер"
					},
					{
						"image": "2",
						"caption": "Адлер"
					},
					{
						"image": "3",
						"caption": "Адлер"
					},
					{
						"image": "4",
						"caption": "Адлер"
					},
					{
						"image": "5",
						"caption": "Адлер"
					},
				]
			},
		],
		"news": [
			{
				"img": "1",
				"title": "Как добраться до Алушты?",
				"descr": "Самая крупная транспортная развязка на полуострове – город Симферополь (столица Крыма) находится в 48 км..."
			},
			{
				"img": "2",
				"title": "Как добраться до Алушты?",
				"descr": "Самая крупная транспортная развязка на полуострове – город Симферополь (столица Крыма) находится в 48 км..."
			},
			{
				"img": "3",
				"title": "Как добраться до Алушты?",
				"descr": "Самая крупная транспортная развязка на полуострове – город Симферополь (столица Крыма) находится в 48 км..."
			},
			{
				"img": "4",
				"title": "Как добраться до Алушты?",
				"descr": "Самая крупная транспортная развязка на полуострове – город Симферополь (столица Крыма) находится в 48 км..."
			},
			{
				"img": "5",
				"title": "Как добраться до Алушты?",
				"descr": "Самая крупная транспортная развязка на полуострове – город Симферополь (столица Крыма) находится в 48 км..."
			},
		],
		"features": [
			{
				"title": "Раннее бронирование",
				"descr": "В пик сезона найти что-то стоящее за адекватные деньги будет сложнее. Если даты поездки уже известны, не упускайте шанс выбрать более комфортные условия за меньшую стоимость"
			},
			{
				"title": "Без посредников",
				"descr": "Уточнить наличие свободных номеров, их комплектность и прочее лучше всего напрямую. Бронировать по прямым контактам не только выгоднее, но и надежнее"
			},
			{
				"title": "Акции и скидки",
				"descr": "Во многих отелях действуют программы поощрения клиентов: бесплатные завтраки, бонусные услуги, скидки при длительном проживании и прочее. Условия лучше узнать заранее"
			},
		],
		"hotels": [
			{
				"img": "1",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "2",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "3",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "4",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "5",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "6",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "7",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "8",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
		]
	},
	footerMenu = {
		"list": [
			{
				"title": "О компании",
				"link": "about.html"
			},
			{
				"title": "Тарифы",
				"link": "#"
			},
			{
				"title": "FAQ",
				"link": "faq.html"
			},
			{
				"title": "Контакты",
				"link": "contacts.html"
			},
		],
		"listSecond": [
			{
				"title": "Соглашение",
				"link": "#"
			},
			{
				"title": "Работа",
				"link": "#"
			},
			{
				"title": "Статистика",
				"link": "#"
			},
			{
				"title": "Карта сайта",
				"link": "#"
			},
		],
	},
	cityPage = {
		"navigation": [
			{
				"title": "Алушта",
				"link": "city.html"
			},
			{
				"title": "Жилье",
				"link": "city-hotels.html"
			},
			{
				"title": "Отзывы (25)",
				"link": "testimonials.html"
			},
			{
				"title": "Фото",
				"link": "city-photos.html"
			},
			{
				"title": "Карта",
				"link": "city-map.html"
			},
			{
				"title": "Погода",
				"link": "city-weather.html"
			},
			{
				"title": "Статьи",
				"link": "city-posts.html",
			},
			{
				"title": "Ещё",
				"link": "javascript:void(0);",
				"subList": [
					{
						"title": "Питание",
						"link": "city-food.html"
					},
					{
						"title": "Транспорт",
						"link": "city-transport.html"
					},
					{
						"title": "Развлечения",
						"link": "city-gaiety.html"
					},
				]
			},
		],
		"resorts": [
			{
				"title": "Утес",
				"link": "#"
			},
			{
				"title": "Лазурное",
				"link": "#"
			},
			{
				"title": "Партенит",
				"link": "#"
			},
			{
				"title": "Сатера",
				"link": "#"
			},
			{
				"title": "Семидворье",
				"link": "#"
			},
			{
				"title": "Малый маяк",
				"link": "#"
			},
		],
		"badgesList": [
			{
				"title": "Отель",
				"link": "#",
			},
			{
				"title": "Гостиница",
				"link": "#",
			},
			{
				"title": "Пансионат",
				"link": "#",
			},
			{
				"title": "Гостевой дом",
				"link": "#",
			},
			{
				"title": "Мини-отель",
				"link": "#",
			},
			{
				"title": "Вилла",
				"link": "#",
			},
			{
				"title": "Апартаменты",
				"link": "#",
			},
			{
				"title": "Хостел",
				"link": "#",
			},
			{
				"title": "Туристический комплекс",
				"link": "#",
			},
			{
				"title": "База отдыха",
				"link": "#",
			},
			{
				"title": "Частный сектор",
				"link": "#",
			},
			{
				"title": "Апарт-отель",
				"link": "#",
			},
		],
		"hotels": [
			{
				"img": "1",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "2",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "3",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "4",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "5",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": "6",
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
		],
		"facilities": [
			{
				"img": "1",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
			{
				"img": "2",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
			{
				"img": "3",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
			{
				"img": "4",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
			{
				"img": "5",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
			{
				"img": "6",
				"title": "Алуштинский Мультипарк",
				"descr": "Голубицкая, ул. Красная, д. 178",
			},
		],
		"weather": {
			"header": {
				"degrees": "19",
				"info": [
					"Вероятность осадков: 0%",
					"Влажность: 79%",
					"Ветер: 4 м/с",
				],
				"today": ["Понедельник 15:00", "Облачно"],
			},
			"week": [
				{
					"caption": "ПН",
					"range": ["19°", "14°"],
					"image": "1"
				},
				{
					"caption": "ВТ",
					"range": ["19°", "14°"],
					"image": "2"
				},
				{
					"caption": "СР",
					"range": ["19°", "14°"],
					"image": "3"
				},
				{
					"caption": "ЧТ",
					"range": ["19°", "14°"],
					"image": "4"
				},
				{
					"caption": "ПТ",
					"range": ["19°", "14°"],
					"image": "5"
				},
				{
					"caption": "СБ",
					"range": ["19°", "14°"],
					"image": "6"
				},
				{
					"caption": "ВС",
					"range": ["19°", "14°"],
					"image": "7"
				}
			]
		},
		"testimonials": [
			{
				"img": "1",
				"place": "Гостиница “Южный Берег”",
				"address": "Голубицкая, ул. Красная, д. 178",
				"author": "Марина",
				"date": "12.08.22",
				"text": "Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то.",
				"rating": 4,
			},
			{
				"img": "2",
				"place": "Гостиница “Летучая мышь”",
				"address": "Голубицкая, ул. Красная, д. 178",
				"author": "Анна",
				"date": "12.08.22",
				"text": "Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то.",
				"rating": 4,
			},
			{
				"img": "3",
				"place": "Гостиница «Южный Берег»",
				"address": "Голубицкая, ул. Красная, д. 178",
				"author": "Павел",
				"date": "12.08.22",
				"text": "Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то.",
				"rating": 4,
			},
			{
				"img": "4",
				"place": "Отель “Море”",
				"address": "Голубицкая, ул. Красная, д. 178",
				"author": "Игорь",
				"date": "12.08.22",
				"text": "Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то.",
				"rating": 4,
			},
		],
		"photos": [
			{
				"img": 1,
				"caption": "Автовокзал Алушты HGalina, Shutterstock"
			},
			{
				"img": 2,
				"caption": "Алуштинский аквариум, Wikimedia"
			},
			{
				"img": 3,
				"caption": "Вид на «Морской конек» в Алуште Варнавская Виктория"
			},
			{
				"img": 4,
				"caption": "В урочище Демерджи, Wikimedia"
			},
			{
				"img": 5,
				"caption": "Дача купца Стахеева, Алушта , Wikimedia"
			},
			{
				"img": 6,
				"caption": "Дача купца Стахеева, балкон, Wikimedia"
			},
			{
				"img": 7,
				"caption": "Автовокзал Алушты HGalina, Shutterstock"
			},
			{
				"img": 8,
				"caption": "Алуштинский аквариум, Wikimedia"
			},
			{
				"img": 9,
				"caption": "Вид на «Морской конек» в Алуште Варнавская Виктория"
			},
			{
				"img": 10,
				"caption": "В урочище Демерджи, Wikimedia"
			},
			{
				"img": 11,
				"caption": "Дача купца Стахеева, Алушта , Wikimedia"
			},
			{
				"img": 12,
				"caption": "Дача купца Стахеева, балкон, Wikimedia"
			},
		],
		"asideCategories": [
			{
				"title": "Все (112)",
				"link": "#"
			},
			{
				"title": "Новости  (23)",
				"link": "#"
			},
			{
				"title": "Города (15)",
				"link": "#"
			},
			{
				"title": "Туризм (82)",
				"link": "#"
			},
		],
		"postList": [
			{
				"img": 1
			},
			{
				"img": 2
			},
			{
				"img": 3
			},
			{
				"img": 4
			},
			{
				"img": 5
			},
			{
				"img": 6
			},
			{
				"img": 7
			},
			{
				"img": 8
			},
			{
				"img": 9
			},
			{
				"img": 10
			},
		],
		"facilitiesList": {
			"food": [
				{
					"img": 1,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для...."
				},
				{
					"img": 2,
					"title": "Ресторан-пивоварня ФабрикантЪ",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Ресторан-пивоварня ФабрикантЪ в Симферополе – островок уюта и комфорта в самом центре шумного города. Здесь все настоящее: пиво из"
				},
				{
					"img": 3,
					"title": "23 Cafe Boulangerie",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "23 Cafe Boulangerie- это особое место, где витают ароматы свежей французской выпечки, где царит атмосфера уюта и домашнего тепла..."
				},
				{
					"img": 4,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
				{
					"img": 5,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
				{
					"img": 6,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
				{
					"img": 4,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
				{
					"img": 5,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
				{
					"img": 6,
					"title": "Фаст-фуд «Sub&Burger»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Sub&Burger — это новое направление линии фаст-фуд в индустрии питания! Кафе нового образца, команда которого прилагает массу усилий для..."
				},
			],
			"transport": [
				{
					"img": 1,
					"title": "Теле-TAXI",
					"subTitle": "Симферополь",
					"descr": '"ТЕЛЕ-ТАКСИ": Удобное решение всех вопросов, связанных с пассажирскими перевозками. Мы обслуживаем как частных лиц, так и корпоративных...'
				},
				{
					"img": 2,
					"title": "Ресторан-пивоварня ФабрикантЪ",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": "Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало..."
				},
			],
			"gaiety": [
				{
					"img": 7,
					"title": "Теле-TAXI",
					"subTitle": "Симферополь",
					"descr": '"ТЕЛЕ-ТАКСИ": Удобное решение всех вопросов, связанных с пассажирскими перевозками. Мы обслуживаем как частных лиц, так и корпоративных...'
				},
				{
					"img": 8,
					"title": "Аквариум «Алуштинский»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 9,
					"title": "Аквапарк “Банановая республика”",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 10,
					"title": "Аквапарк “Судак”",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 11,
					"title": "Аквапарк «Акваленд - У Лукоморья»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 12,
					"title": "Аквапарк «Миндальная Роща»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 13,
					"title": "Аквапарк",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": '"ТЕЛЕ-ТАКСИ": Удобное решение всех вопросов, связанных с пассажирскими перевозками. Мы обслуживаем как частных лиц, так и корпоративных...'
				},
				{
					"img": 14,
					"title": "Аквапарк “Судак”",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
				{
					"img": 15,
					"title": "Аквапарк «Акваленд - У Лукоморья»",
					"subTitle": "Голубицкая, ул. Красная, д. 178",
					"descr": 'Крымские электрички запустили по новому графику Изменения коснулись сразу нескольких направлений В Крыму с пятницы, 26 февраля, начало...'
				},
			],
		},
		"hotels": [
			{
				"img": 1,
				"title": "AVRASYAQUEEN HOTEL",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
				"limit": true,
			},
			{
				"img": 2,
				"title": "Liberi Hotel Taksim",
				"rating": 4,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 3,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 4,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 5,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 1,
				"title": "AVRASYAQUEEN HOTEL",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
				"limit": true,
			},
			{
				"img": 2,
				"title": "Liberi Hotel Taksim",
				"rating": 4,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 3,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 4,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
			{
				"img": 5,
				"title": "Ishak Pasa Hotel - Special Class",
				"rating": 5,
				"apartments": {
					"short_descr": "Двухместный номер эконом класса с 1 кроватью",
					"sub_descr": "1 двуспальная кровать",
					"descr": "Отель Al Khoory Courtyard расположен в Дубае, в 5 км от фонтана Дубай. К услугам гостей ресторан, бесплатная частная парковка",
				},
				"price": "от 4 110 ₽",
				"old_price": "от 6500",
			},
		]
	},
	servicesPage = {
		"table": {
			"head": ["Курорт", "Стандартное размещение для гостиниц и гостевых домов", "Стандартное размещение для квартир и объектов под ключ"],
			"row": [
				{
					"resort": "Адлер, Геленджик, Лазаревское",
					"hotelPrice": "11900",
					"roomPrice": "4900"
				},
				{
					"resort": "Анапа, Архипо-Осиповка, Витязево, Джемете, Сочи, Кабардинка",
					"hotelPrice": "11900",
					"roomPrice": "4900"
				},
				{
					"resort": "Дивноморское, Гагра, Лоо, Кудепста, Пицунда",
					"hotelPrice": "11900",
					"roomPrice": "4900"
				},
				{
					"resort": "Абрау-Дюрсо, Агой, Бетта, Благовещенская, Большой Утриш, Бухта Инал, Вардане, Веселовка, Вишневка, Волконка, Глафировка, Головинка, Голубицкая, Гудаута, Дагомыс, Дедеркой, Джанхот, Джубга, Должанская, Ейск, Ильич, Каткова Щель, Красная Поляна, Криница, Кучугуры, Лермонтово, Макопсе, Мысхако, Небуг, Новомихайловский, Новороссийск, Новый Афон, Ольгинка, Пересыпь, Пляхо, Приморско-Ахтарск, Пшада, Сенной, Совет-Квадже, Солоники, Сукко, Сухум, Тамань, Темрюк, Туапсе, Хоста, Цандрипш, Чемитоквадже, Шепси, Широкая Балка, Южная Озереевка, Якорная Щель",
					"hotelPrice": "11900",
					"roomPrice": "4900"
				},
				{
					"resort": "Алупка, Алушта, Балаклава, Береговое, Гаспра, Гурзуф, Евпатория, Керчь, Коктебель, Межводное, Мисхор, Николаевка, Новофедоровка, Новый Свет, Оленевка, Орджоникидзе, Отрадное, Партенит, Песчаное, Приморский, Саки, Севастополь, Симеиз, Судак, Феодосия, Форос, Черноморское, Штормовое, Щелкино, Ялта",
					"hotelPrice": "11900",
					"roomPrice": "4900"
				},
			]
		}
	},
	cardPage = {
		"gallery": [
			{
				"img": 1
			},
			{
				"img": 2
			},
			{
				"img": 3
			},
			{
				"img": 4
			},
			{
				"img": 5
			},
			{
				"img": 6
			},
		],
		"rooms": [
			{
				"img": 1,
				"title": "Двухместный номер Standard",
				"features": [
					{
						"name": "Бесплатный Wi-Fi",
						"key": "wi-fi"
					},
					{
						"name": "Трансфер",
						"key": "transfer"
					},
					{
						"name": "Бар / Ресторан",
						"key": "bar"
					},
					{
						"name": "Подходит для детей",
						"key": "children"
					}
				],
				"area": "18 м2",
				"price": "4 110 ₽",
			},
			{
				"img": 1,
				"title": "Двухместный номер Standard",
				"features": [
					{
						"name": "Бесплатный Wi-Fi",
						"key": "wi-fi"
					},
					{
						"name": "Трансфер",
						"key": "transfer"
					},
					{
						"name": "Бар / Ресторан",
						"key": "bar"
					},
					{
						"name": "Подходит для детей",
						"key": "children"
					}
				],
				"area": "18 м2",
				"price": 0,
			},
			{
				"img": 1,
				"title": "Двухместный номер Standard",
				"features": [
					{
						"name": "Бесплатный Wi-Fi",
						"key": "wi-fi"
					},
					{
						"name": "Трансфер",
						"key": "transfer"
					},
					{
						"name": "Бар / Ресторан",
						"key": "bar"
					},
					{
						"name": "Подходит для детей",
						"key": "children"
					}
				],
				"area": "18 м2",
				"price": "4 110 ₽",
			},
		],
		"places": [
			{
				"caption": "В окрестностях",
				"list": [
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
				]
			},
			{
				"caption": "Главные достопримечательности",
				"list": [
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
				]
			},
			{
				"caption": "Другое",
				"list": [
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
					{
						"name": "Ayasofya Hurrem Sultan Hamam",
						'distance': "2,2 км"
					},
				]
			},
		],
		"reviews": {
			"progress": [
				{
					"caption": "Расположение",
					"value": "3,5",
					"key": "location",
					"percent": 70,
				},
				{
					"caption": "Цена/качество",
					"value": "2,2",
					"key": "price",
					"percent": 20,
				},
				{
					"caption": "Чистота",
					"value": "5,0",
					"key": "purity",
					"percent": 100,
				},
				{
					"caption": "Обслуживание",
					"value": "4,2",
					"key": "service",
					"percent": 80,
				},
			],
			"list": [
				{
					"rating": 3,
					"author": "Анастасия",
					"text": "Прекрасный отель. Вид из окна просто потрясающий. Вечером сидели в ресторане и любовались видом. Номер отличный, большой, чистый. Кровать очень большая. В душе всегда есть горячая вода. Персонал молодцы, какой вопрос не задашь, они всегда знаю...",
					"date": "12.08.22",
				},
				{
					"rating": 3,
					"author": "Анастасия",
					"text": "Прекрасный отель. Вид из окна просто потрясающий. Вечером сидели в ресторане и любовались видом. Номер отличный, большой, чистый. Кровать очень большая. В душе всегда есть горячая вода. Персонал молодцы, какой вопрос не задашь, они всегда знаю...",
					"date": "12.08.22",
				},
				{
					"rating": 3,
					"author": "Анастасия",
					"text": "Прекрасный отель. Вид из окна просто потрясающий. Вечером сидели в ресторане и любовались видом. Номер отличный, большой, чистый. Кровать очень большая. В душе всегда есть горячая вода. Персонал молодцы, какой вопрос не задашь, они всегда знаю...",
					"date": "12.08.22",
				},
			]
		},
		"comfort": [
			{
				"name": "Бесплатный Wi-Fi",
				"key": "wi-fi"
			},
			{
				"name": "Парковка",
				"key": "parking"
			},
			{
				"name": "Терасса",
				"key": "teracce"
			},
			{
				"name": "Гостиная зона",
				"key": "guest"
			},
			{
				"name": "Трансфер",
				"key": "transfer"
			},
			{
				"name": "Бар / Ресторан",
				"key": "bar"
			},
			{
				"name": "Кухня",
				"key": "kitchen"
			},
			{
				"name": "Подходит для детей",
				"key": "children"
			}
		],
		"faq": [
			{
				"header": "Какие номера можно забронировать?",
				"content": "Цены на проживание в Гостевой дом «MolodezhnyyHouse» начинаются от 1 000 руб. за человека в сутки в июне. Окончательная стоимость зависит от дат поездки. Чтобы увидеть цены, введите нужные даты."
			},
			{
				"header": "Можно ли приехать с собакой или кошкой?",
				"content": "Цены на проживание в Гостевой дом «MolodezhnyyHouse» начинаются от 1 000 руб. за человека в сутки в июне. Окончательная стоимость зависит от дат поездки. Чтобы увидеть цены, введите нужные даты."
			},
			{
				"header": "Сколько стоит проживание в Гостевой дом «MolodezhnyyHouse»?",
				"content": "Цены на проживание в Гостевой дом «MolodezhnyyHouse» начинаются от 1 000 руб. за человека в сутки в июне. Окончательная стоимость зависит от дат поездки. Чтобы увидеть цены, введите нужные даты."
			},
		],
		"facilites": [
			{
				"img": 1,
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": 2,
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": 3,
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
			{
				"img": 4,
				"title": "Гостевой дом “Маяк”",
				"descr": "Голубицкая, ул. Красная, д. 178",
				"price": "от 875 ₽"
			},
		]
	},
	objectPage = {
		"checkboxes": [
			{
				"title": "Размещение на сайте только ПЛАТНОЕ (бесплатно мы не размещаем)",
				"checked": true
			},
			{
				"title": "Размещение на сайте только НА ГОД (помесячно и на сезон не размещаем)",
				"checked": true
			},
		],
		"dropdown": {
			"region": [
				"Крым",
				"Сочи",
				"Абхазия",
			],
		}
	},
	pagination = [
		"1", "...", "11", "12", "13", "14", "15", "16", "...", "26"
	],
	checkboxObjects = [
		{
			"icon": 1,
			"caption": "Города",
		},
		{
			"icon": 2,
			"caption": "Отели",
			"checked": true,
		},
		{
			"icon": 3,
			"caption": "Транспорт"
		},
		{
			"icon": 4,
			"caption": "Питание",
			"checked": true,
		},
		{
			"icon": 5,
			"caption": "Развлечения"
		},
		{
			"icon": 6,
			"caption": "Туризм"
		},
		{
			"icon": 7,
			"caption": "Услуги"
		},
	],
	otherObjcets = [
		{
			"icon": 4,
			"caption": "3 найдено"
		},
		{
			"icon": 3,
			"caption": "2 найдено"
		},
		{
			"icon": 5,
			"caption": "122 найдено"
		},
		{
			"icon": 2,
			"caption": "54 найдено"
		},
	],
	dropdowns = {
		"region": [
			"Крым",
			"Сочи",
			"Абхазия",
		],
		"city": [
			"Алушта",
			"Геленджик",
			"Новороссийск",
		],
		"section": [
			"Питание",
			"Транспорт",
			"Развлечения"
		]
	},
	filterCheckboxes = {
		"food": [
			{
				"title": "Закусочные",
				"checked": true
			},
			{
				"title": "Кафе"
			},
			{
				"title": "Рестораны"
			},
		],
		"transport": [
			{
				"title": "Ж/д вокзалы",
				"checked": true
			},
			{
				"title": "Такси",
				"checked": true
			},
		],
		"gaiety": [
			{
				"title": "Аквапарки",
				"checked": true
			},
			{
				"title": "Театры",
				"checked": true
			},
			{
				"title": "Кинотеатры",
				"checked": true
			},
			{
				"title": "Океанариумы"
			},
		],
	},
	hotelCheckboxes = {
		"type": [
			{
				"title": "Отели и мини отели"
			},
			{
				"title": "Гостевые дома (как мини отели)"
			},
			{
				"title": "Квартиры / Апартаменты"
			},
			{
				"title": "Дома и коттеджи"
			},
			{
				"title": "Базы отдыха и турбазы",
				"checked": true
			},
			{
				"title": "Хостелы",
			},
			{
				"title": "Виллы (большой дом с территорией",
			},
			{
				"title": "Комнаты в квартирах",
			},
		],
		"objects": [
			{
				"title": "Парковка",
			},
			{
				"title": "Бассейн",
			},
			{
				"title": "Фитнес-центр",
			},
			{
				"title": "SPA",
			},
			{
				"title": "Детская игровая площадка",
			},
			{
				"title": "Детская игровая площадка",
			},
		],
		"food": [
			{
				"title": "Ресторан",
			},
			{
				"title": "Собственная кухня / мини кухня",
			},
		],
		"common": [
			{
				"title": "Интернет",
			},
			{
				"title": "Номера для некурящих",
			},
		],
	};