.accordeon {
	&__item {
		&.active {
			& .accordeon__header::before {
				opacity: 0;
			}
			& .accordeon__icon::after {
				transform: rotate(0deg);
				opacity: 0;
			}
			& .accordeon__button {
				& span:nth-child(1) {
					display: none;
					@media screen and (max-width: $md) {
						display: none;
					}
				}
				& span:nth-child(2) {
					display: block;
					@media screen and (max-width: $md) {
						display: none;
					}
				}
			}
		}
	}
	&__header {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		padding-bottom: 20.5px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid $gray-line;
			transition: opacity $time;
		}
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
		@media screen and (max-width: $md) {
			align-items: flex-start;
		}
	}
	&__icon {
		width: 14px;
		height: 14px;
		flex-shrink: 0;
		position: relative;
		&::before,
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black;
			border-radius: 50px;
			position: absolute;
			top: 50%;
			transition:
				transform $time,
				opacity $time;
			@media screen and (max-width: $md) {
				width: 12px;
			}
		}
		&::after {
			transform: rotate(90deg);
		}
		@media screen and (max-width: $md) {
			width: 12px;
			height: 12px;
			margin-top: 6px;
		}
	}
	&__content {
		height: 0px;
		overflow: hidden;
		transition:
			height $time,
			min-height $time,
			max-height $time,
			margin $time;
	}
	&__text {
		padding: 15px;
		font-size: 16px;
		line-height: 130%;
		border-radius: 5px;
		background: $gray-background;
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 140%;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 20px;
		font-size: 16px;
		line-height: 130%;
		color: $blue-1;
		font-weight: 400;
		& span {
			&:nth-child(1) {
				display: block;
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

.accordeon-price {
	& .accordeon {
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 20px;
			font-weight: 700;
			font-size: 24px;
			line-height: 120%;
			padding-bottom: 20px;
			border-bottom: 1px solid $gray-line;
			&::before {
				content: none;
			}
			@media screen and (max-width: $md) {
				font-size: 18px;
				height: 130%;
				padding-bottom: 10px;
				border: none;
				align-items: center;
			}
		}
		&__icon {
			width: 14px;
			height: 14px;
			&::before,
			&::after {
				background-color: $blue-1;
				@media screen and (max-width: $md) {
					width: calc(100% - 4px);
					inset: 0;
					margin: auto;
					background-color: $black;
				}
			}
			@media screen and (max-width: $md) {
				width: 18px;
				height: 18px;
			}
			// &::after {
			// 	transform: rotate(90deg) translateX(-50%);
			// 	opacity: 1;
			// }
		}
		&__content {
			// @media screen and (max-width: $md) {
			// 	display: none;
			// 	height: 100%;
			// 	overflow: visible;
			// }
		}
		&__item {
			&.active {
				& .accordeon__content {
					margin-top: 20px;
					@media screen and (max-width: $md) {
						margin-top: 15px;
					}
				}
			}
		}
		&__button {
			gap: 20px;
			@media screen and (max-width: $md) {
				& span {
					display: none;
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}
	}
}
.box-card__faq {
	gap: 21px;
	@media screen and (max-width: $md) {
		gap: 10px;
	}
	& .accordeon__header {
		padding-right: 4px;
		padding-bottom: 23.5px;
		@media screen and (max-width: $md) {
			padding-bottom: 10px;
		}
	}
}

.accordeon-mobile {
	display: none;
	@media screen and (max-width: $md) {
		display: grid;
		gap: 15px;
	}
	&__item {
		&:not(:last-child) {
			padding-bottom: 15px;
			border-bottom: 1px solid $gray-line;
		}
		&.active {
			& .accordeon-mobile__header {
				font-weight: 600;
			}
			& .accordeon-mobile__content {
				margin-top: 10px;
			}
			& .accordeon-mobile__icon span {
				&::after {
					transform: rotate(0deg);
				}
			}
		}
	}
	&__header {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 20px;
		transition: font-weight $time;
	}
	&__header-text {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__icon {
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		position: relative;
		padding: 2px;
		display: grid;
		place-items: center;
		& span {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $black;
				border-radius: 50px;
				position: absolute;
				top: 50%;
				transition:
					transform $time,
					opacity $time;
			}
			&::after {
				transform: rotate(90deg);
			}
		}
	}
	&__content {
		height: 0px;
		overflow: hidden;
		transition:
			height $time,
			margin $time;
	}
}
