.gallery-body {
	border-radius: 10px;
	overflow: hidden;
}
.gallery-wrapper {
	display: grid;
	grid-template-columns: repeat(8, 1fr) 1.05fr;
	grid-template-rows: repeat(3, auto);
	gap: 15px;
	@media screen and (max-width: $md) {
		display: flex;
		gap: 0;
	}
}
.gallery-item {
	height: 100%;
	grid-column: span 3;
	position: relative;
	@media screen and (max-width: $md) {
		flex-shrink: 0;
	}
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			& .gallery-item__image img {
				transform: scale(1.3);
			}
		}
	}
	&:nth-child(1) {
		grid-column: 1 / 8;
		grid-row: 1 / 3;
	}
	&:nth-child(2),
	&:nth-child(3) {
		grid-column: 8 / -1;
	}
	&:nth-last-child(-n + 3) {
		& .gallery-item__image {
			padding-bottom: math.div(158.5, 280) * 100%;
			@media screen and (max-width: $md) {
				padding-bottom: math.div(200, 296) * 100%;
			}
		}
	}
	&__image {
		align-self: stretch;
		border-radius: 10px;
		overflow: hidden;
		padding-bottom: math.div(352, 670) * 100%;
		height: 100%;
		& img {
			transition: transform $time * 2 cubic-bezier(0.17, 0.67, 0.83, 0.87);
		}
		@media screen and (max-width: $md) {
			padding-bottom: math.div(200, 296) * 100%;
		}
	}
	&:last-child {
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(29, 39, 65, 0.5);
			z-index: 2;
			border-radius: 10px;
			pointer-events: none;
		}
	}
	&__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		text-align: center;
		color: $white;
		position: absolute;
		inset: 0;
		z-index: 2;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
	}
}

.slider-pagination {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 5;
	bottom: 20px;
	display: none;
	& .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		background-color: rgba($white, 0.7);
		border-radius: 50%;
		margin: 0 5px;
		&-active {
			background-color: $white;
		}
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
	}
	@media screen and (max-width: $md) {
		display: flex;
	}
}
.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0.33);
	position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.33);
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	transition:
		0.2s transform,
		0.2s top;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition:
		0.2s transform,
		0.2s left;
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition:
		0.2s transform,
		0.2s right;
}
