.detail-card {
	&__wrapper {
	}
	&__body {
		display: flex;
		align-items: flex-start;
		grid-template-columns: 23.1% 74.4%;
		align-items: start;
		gap: 30px;
	}
	&__aside {
		display: grid;
		gap: 20px;
		flex: 0 0 270px;
	}
	&__main {
		display: grid;
		grid-template-columns: 100%;
		gap: 20px;
		max-width: 870px;
		flex-grow: 1;
	}
	&__gallery {
	}
	&__box {
	}
	&__rooms {
		display: grid;
		grid-template-columns: 100%;
		gap: 20px;
	}
}
