@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

@import 'forms';

.add-object {
	&__body {
		border-radius: 10px;
		padding: 40px 0px 40px 40px;
		background: $white;
		display: grid;
		grid-template-columns: 1fr 0.93fr;
		gap: 30px;
		@media screen and (max-width: $xl) {
			grid-template-columns: 1fr;
			gap: 20px;
			padding: 20px;
		}
		@media screen and (max-width: $md) {
			gap: 10px;
			background-color: transparent;
			padding: 0;
			border-radius: 0;
			margin-bottom: -20px;
		}
	}
}

.info-object {
	padding-top: 31px;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: $xl) {
		order: -1;
		padding: 0;
	}
	@media screen and (max-width: $md) {
		padding: 20px 12px;
		margin: 0 -12px;
		background-color: $white;
	}
	&__content-top {
		border-radius: 50px 50px 0 50px;
		padding: 30px 23px;
		max-width: 350px;
		background: $gray-background;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $black;
		& span {
			font-weight: 600;
		}
		@media screen and (max-width: $xl) {
			border-radius: 10px;
			max-width: 100%;
		}
		@media screen and (max-width: $md) {
			padding: 15px;
		}
	}
	&__image {
		align-self: flex-end;
		height: 452px;
		margin-top: -48px;
		margin-right: -33px;
		width: 389px;
		& img {
			max-width: none;
		}
		@media screen and (max-width: $xxl) {
			margin-top: -30px;
			margin-right: 0;
		}
		@media screen and (max-width: $xl) {
			margin: -10px auto 0;
			display: flex;
			justify-content: center;
		}
		@media screen and (max-width: $md) {
			width: 100%;
			height: 328px;
		}
	}
	&__content-bottom {
		border-radius: 10px 0 0 10px;
		padding: 30px;
		background: $blue-1;
		font-size: 16px;
		line-height: 130%;
		color: $white;
		display: grid;
		gap: 20px;
		& .bold-text {
			font-size: 18px;
			line-height: 130%;
		}
		@media screen and (max-width: $xl) {
			border-radius: 10px;
		}
	}
}
