@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

@import 'forms';

.auth {
	&__header {
		min-height: 67px;
		display: flex;
		align-items: flex-end;
	}
	&__body {
		padding-top: 120px;
		display: grid;
		justify-content: center;
	}
}
.auth-password-recovery {
	& .auth-form {
		width: 498px;
		&__sub-title {
			max-width: 80%;
		}
	}
}
.header-auth {
	&__links {
		display: flex;
		gap: 34px;
	}
	&__link {
		padding-bottom: 16px;
		position: relative;
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		color: #bac1cc;
		transition: color $time;
		&.active {
			color: #1d2741;
			&::before {
				transform: scaleX(1);
			}
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $blue-1;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform $time;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #1d2741;
				&::before {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}
.auth-form {
	display: grid;
	gap: 20px;
	width: 370px;
	&__heading {
		display: grid;
		gap: 20px;
		text-align: center;
		margin-bottom: 10px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}
	&__sub-title {
		line-height: 130%;
		margin: 0 auto;
	}
	&__items {
		display: grid;
		gap: 10px;
	}
	&__footer {
		display: grid;
		gap: 10px;
	}
	&__text {
		text-align: center;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
	}
	&__link {
		justify-self: end;
	}
}
.code-auth {
	display: grid;
	gap: 20px;
	&__caption {
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
		text-align: center;
	}
	&__numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	&__time {
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		color: $gray-text;
		& span {
			display: inline-block;
			width: 17px;
		}
	}
}

.form-input-number {
	width: 49px;
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 14px 5px;
	border: 1px solid $blue-1;
	border-radius: 7px;
	position: relative;
	background-image: url('../images/icons/line.svg');
	background-repeat: no-repeat;
	background-position: center bottom 14px;
}

.field-password {
	position: relative;
	& input[type='text'] ~ .btn-password span::after {
		opacity: 0;
	}
	& .form-input {
		padding-right: 72px;
	}
}
.btn-password {
	width: 72px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	display: grid;
	place-items: center;
	& span {
		width: 24px;
		height: 24px;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			mask-image: url('../images/icons/eye.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: rgba($gray-text, 0.5);
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 2px;
			border-radius: 10px;
			background-color: rgba($gray-text, 0.5);
			transform: translate(-50%, -50%) rotate(45deg);
			transition: opacity math.div($time, 2);
		}
	}
}
