@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

.contacts {
	& .page-title {
		@media screen and (max-width: $md) {
			margin-bottom: 10px;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		@media screen and (max-width: $xl) {
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
			gap: 10px;
			margin-bottom: -20px;
		}
	}
	&__main {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		@media screen and (max-width: $xl) {
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			background-color: $white;
			padding: 20px 12px;
			margin: 0 -12px;
		}
	}
	&__map {
		min-height: 558px;
		width: 100%;
		border: 1px solid $gray-line;
		border-radius: 10px;
		overflow: hidden;
		& .map {
			width: 100%;
			height: 100%;
			@media screen and (max-width: $md) {
				border-radius: 10px;
				overflow: hidden;
			}
		}
		@media screen and (max-width: $md) {
			min-height: 385px;
			width: calc(100% + 24px);
			border: none;
			border-radius: 0;
			background-color: $white;
			padding: 20px 12px;
			margin: 0 -12px;
		}
	}
}
.main-contacts {
	&__items {
		border: 1px solid $gray-line;
		border-radius: 10px;
		padding: 39px;
		background: white;
		display: grid;
		gap: 30px;
		@media screen and (max-width: $md) {
			border: 0;
			border-radius: 0;
			padding: 0;
			gap: 20px;
		}
	}
	&__item {
		display: grid;
		gap: 10px;
	}
	&__caption {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		color: $black;
		max-width: 270px;
	}
	&__content {
		display: grid;
		gap: 5px;
		justify-content: start;
		font-size: 16px;
		line-height: 130%;
	}
	&__link {
		font-size: 16px;
		line-height: 130%;
		color: $black;
		transition: color $time;
		@media (any-hover: hover) {
			&:hover {
				color: $blue-1;
			}
		}
	}
	&__text {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__disclamer {
		@extend .main-contacts__items;
		display: block;
		font-size: 14px;
		line-height: 140%;
		color: $black;
		@media screen and (max-width: $md) {
			padding-top: 19px;
			border-top: 1px solid $gray-line;
		}
	}
}
