@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

@import 'libs/swiper.scss';

@import 'pages/detail-card/layout.scss';
@import 'pages/detail-card/heading.scss';
@import 'pages/detail-card/aside-contacts.scss';
@import 'pages/detail-card/gallery.scss';
@import 'pages/detail-card/conditions.scss';
@import 'pages/detail-card/accordeon.scss';
@import 'pages/detail-card/reviews.scss';
@import 'pages/detail-card/categories.scss';

@import 'components/room-item.scss';
@import 'components/features-list.scss';
@import 'components/aside-map.scss';
@import 'components/custom-scrollbar.scss';

.box-card {
	padding: 39px;
	border: 1px solid $gray-line;
	border-radius: 10px;
	background-color: $white;
	display: grid;
	grid-template-columns: 100%;
	gap: 20px;
	@media screen and (max-width: $md) {
		padding: 20px 12px;
		margin: 0 -12px;
		border: none;
		border-radius: 0;
		gap: 10px;
	}
	&__header {
		padding-bottom: 19px;
		border-bottom: 1px solid $gray-line;
		@media screen and (max-width: $md) {
			padding-bottom: 14px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: 10px;
			@media screen and (max-width: $md) {
				margin-bottom: 5px;
			}
		}
		@media screen and (max-width: $md) {
			font-size: 18px;
			line-height: 130%;
		}
	}
	&__content {
	}
	&__sub-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
	}
	&__map {
		min-height: 250px;
		display: grid;
		place-items: center;
		background-image: url('../images/icons/map.svg');
		background-repeat: no-repeat;
		background-size: cover;
		@media screen and (max-width: $md) {
			min-height: auto;
			background: none;
			margin: 5px 0 10px;
			& .map-button {
				border: 1px solid $blue-1;
				color: $blue-1;
				width: 100%;
			}
		}
	}
	&__faq {
		display: grid;
		gap: 20px;
	}
	&--location {
		.box-card__header {
			border: none;
			padding: 0;
		}
	}
	&-mobile {
		display: none;
		@media screen and (max-width: $md) {
			display: block;
		}
	}
	&__btn-show {
		display: none;
		margin-top: 10px;
		@media screen and (max-width: $md) {
			display: block;
			text-align: left;
			justify-self: start;
		}
	}
	&--description {
		@media screen and (max-width: $md) {
			padding-top: 0;
		}
	}
}
.places {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	gap: 40px;
	@media screen and (max-width: $md) {
		grid-template-columns: 100%;
		gap: 15px;
	}
	&__item {
		display: grid;
		gap: 10px;
	}
	&__caption {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
	}
	&__list {
		@include reset-list;
		display: grid;
		gap: 5px;
	}
	&__list-item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 15px;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		@media screen and (max-width: $md) {
			align-items: flex-end;
		}
	}
	&__distance {
		display: block;
		flex-shrink: 0;
	}
}

.table-price-wrap {
	&.simplebar-scrollable-x {
		padding-bottom: 20px;
	}
	&.expanded {
		@media screen and (max-width: $md) {
			display: none;
		}
	}
}
.table-price {
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	& tr {
		min-height: 38px;
		display: flex;
		flex-grow: 1;
		@media screen and (max-width: $md) {
			justify-content: space-between;
			min-height: 36px;
			&:not(:last-child) {
				border-bottom: 1px solid $gray-line;
				padding: 7px 0;
			}
			&:last-child {
				padding: 7px 0 0;
			}
		}
	}
	& th,
	& td {
		min-height: 38px;
		padding: 11px 10px;
		flex: 1 0 76px;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 12px;
		line-height: 120%;
		@media screen and (min-width: $md) {
			justify-content: flex-end;
			&:not(:last-child) {
				border-right: 1px solid $gray-line;
			}
			&:nth-child(1) {
				flex: 0 0 270px;
				justify-content: flex-start;
			}
			&:nth-child(2) {
				flex: 0 0 140px;
				justify-content: center;
			}
		}
		@media screen and (max-width: $md) {
			min-height: auto;
			padding: 0;
			font-size: 14px;
			line-height: 120%;
			flex: 0 0 auto;
		}
	}
	& td.td-date {
		font-weight: 600;
		font-size: 14px;
		line-height: 120%;
		color: $gray-text;
	}
	& td.td-price {
		line-height: 140%;
		text-align: right;
	}
	& th {
		padding: 5px 10px;
		font-weight: 600;
		text-align: right;
		color: $gray-text;
	}
	&__head {
	}
	&__body {
		& tr {
			&:nth-child(odd) {
				& td {
					background-color: $gray-background;
				}
			}
		}
	}
}

.table-price.table-price-services {
	@media screen and (max-width: $md) {
		display: grid;
	}
	tr {
		display: grid;
		grid-template-columns: 1fr 171px;
		min-height: 51px;
		@media screen and (max-width: $md) {
			display: flex;
			justify-content: space-between;
			min-height: 40px;
			padding: 0;
			&:not(:last-child) {
				border-bottom: 1px solid $gray-line;
				margin-bottom: 10px;
			}
			&:last-child {
				padding: 0;
			}
		}
	}
	& .table-price__head {
		background-color: $gray-background;
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	@media screen and (min-width: $md) {
		& .table-price__body tr:nth-child(odd) {
			background-color: transparent;
		}
		& .table-price__body tr:nth-child(even) {
			background-color: $gray-background;
		}
	}
	& .table-price__body {
		& tr {
			&:nth-child(odd) {
				& td {
					background-color: transparent;
				}
			}
		}
	}
	& th {
		font-size: 16px;
		line-height: 130%;
	}
	& td {
		font-size: 14px;
		line-height: 140%;
		@media screen and (max-width: $md) {
			padding: 8px 0;
		}
	}
}
