@use 'sass:math';

@import 'config/variables';

.facilities-wrapper {
	display: grid;
	gap: 20px;
}
.facilities-body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.content-group {
	& .facilities-body {
		grid-template-columns: repeat(3, 1fr);
	}
	& .facilities-wrapper {
		margin-top: 40px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

.card-preview {
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
			& .card-preview__title {
				color: $orange;
				& span {
					background-size: 100% 1px;
				}
			}
		}
	}
	&__body {
		display: grid;
		gap: 10px;
	}
	&__image {
		border-radius: 10px;
		overflow: hidden;
		padding-bottom: math.div(216, 270) * 100%;
	}
	&__content {
		display: grid;
		gap: 5px;
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		transition: color $time linear;
		& span {
			transition: background-size $time cubic-bezier(0.645, 0.045, 0.355, 1);
			background: linear-gradient(to bottom, rgba($orange, 1) 0%, rgba($orange, 1) 98%);
			background-size: 0px 1px;
			background-repeat: no-repeat;
			background-position: left 100%;
		}
	}
	&__description {
		line-height: 130%;
	}
	&__bottom {
		margin-top: 10px;
		display: grid;
		gap: 5px;
	}
	&__price {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}
	&__sub-price {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
}

@keyframes animatedBackground {
	to {
		background-size: 100% 100%;
	}
}
