@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';
@import 'pages/city/city-common.scss';

@import 'components/object-card.scss';
@import 'components/filter-button.scss';

.city-facilities {
	& .heading__title {
		font-weight: 700;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		@media screen and (max-width: $xl) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
		}
	}
	& .filter-button {
		@media screen and (max-width: $xl) {
			margin-bottom: 20px;
		}
	}
}
