@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

@import 'components/calendar.scss';

@import 'forms.scss';

.hotel-book {
	& .page-title {
		@media screen and (max-width: $md) {
			margin-bottom: 10px;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 372px;
		gap: 30px;
		align-items: start;
		@media screen and (max-width: $xl) {
			grid-template-columns: 100%;
			gap: 10px;
		}
		@media screen and (max-width: $md) {
			margin-bottom: -30px;
		}
	}
	&__content {
		border: 1px solid $gray-line;
		border-radius: 10px;
		padding: 39px;
		background: $white;
		@media screen and (max-width: $xl) {
			border: none;
			border-radius: 0;
			padding: 20px 12px;
			margin: 0 -12px;
		}
	}
	&__aside {
		@media screen and (max-width: $xl) {
			order: -1;
			padding: 20px 12px;
			margin: 0 -12px;
			background-color: $white;
		}
	}
	&__form {
		display: grid;
		gap: 20px;
		@media screen and (max-width: $md) {
			gap: 10px;
		}
	}
	&__groups {
		display: grid;
		gap: 30px;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
	}
	&__group-caption {
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		margin-bottom: 20px;
		@media screen and (max-width: $md) {
			margin-bottom: 10px;
			line-height: 130%;
		}
	}
	&__form-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px 30px;
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
			gap: 10px;
		}
	}
	&__field-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px 30px;
		@media screen and (min-width: $md) {
			& .form-item:first-child,
			& .form-item:last-child {
				grid-column: span 2;
			}
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
			gap: 10px;
		}
	}
	&__form-footer {
		display: grid;
		gap: 30px;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: $md) {
			flex-direction: column;
			align-items: stretch;
			gap: 10px;
		}
	}
	&__form-text {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	& .custom-dropdown {
		position: relative;
	}
	& .custom-dropdown__btn {
		min-height: 60px;
		font-size: 16px;
		line-height: 130%;
		&::after {
			background-color: $black;
		}
		&.active {
			& + .custom-dropdown__choice {
				transform: translateY(0);
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	&-notice {
		border: 1px solid $gray-line;
		border-radius: 10px;
		padding: 39px;
		background: $white;
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
		@media screen and (max-width: $md) {
			margin-bottom: -20px;
		}
	}
}
.custom-dropdown {
	&__btn {
	}
	&__btn-text {
		pointer-events: none;
	}
	&__choice {
	}
}

.result-group {
	&__inner {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-bottom: 30px;
		@media screen and (max-width: $md) {
			flex-direction: column;
			gap: 20px;
			margin-bottom: 20px;
		}
	}
	&__items {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		width: 42%;
		@media screen and (min-width: $md) {
			&:nth-child(2) {
				width: 46%;
				padding-left: 45px;
				border-left: 1px solid $gray-line;
			}
		}
		@media screen and (max-width: $md) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
		}
	}
	&__item {
		display: grid;
		gap: 5px;
	}
	&__caption {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__value {
		font-weight: 600;
		line-height: 130%;
		display: flex;
		align-self: flex-end;
	}
}

.choice-dropdown {
	position: absolute;
	top: 100%;
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	left: 0;
	box-shadow: $shadow;
	background: white;
	z-index: 10;
	transform: translateY(20%);
	opacity: 0;
	transition:
		transform $time,
		opacity $time;
	pointer-events: none;
	@media screen and (max-width: $md) {
		position: fixed;
		bottom: 0;
		top: auto;
		width: 100%;
		transform: translateY(100%);
		border-radius: 0;
	}
	&__items {
		display: grid;
		gap: 10px;
	}
	&__item {
		display: grid;
		grid-template-columns: 50px 1fr 50px;
		gap: 10px;
		border: 1px solid $gray-line;
		border-radius: 5px;
		min-height: 53px;
		background: $gray-background;
	}
	&__count {
		width: 100%;
		background-color: transparent;
		// pointer-events: none;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $black;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		pointer-events: none;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $black;
		&::placeholder {
			font-size: 16px;
			line-height: 130%;
			text-align: center;
			color: $black;
		}
	}
	&__save-btn {
		min-height: 40px;
		padding: 9px 16px;
	}
	&__button {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
	}
}

.button-plus,
.button-minus {
	span {
		width: 11px;
		height: 11px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		pointer-events: none;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			mask-position: center;
			mask-repeat: no-repeat;
			background-color: $black;
			transition: background-color $time;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			& span::before {
				background-color: $orange;
			}
		}
	}
}
.button-plus {
	& span::before {
		mask-image: url('../images/icons/icon-plus.svg');
	}
}
.button-minus {
	& span::before {
		mask-image: url('../images/icons/icon-minus.svg');
	}
}
.hotel-book-preview {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 39px 40px;
	background: $white;
	display: grid;
	gap: 20px;
	@media screen and (max-width: $xl) {
		border: none;
		border-radius: 0;
		padding: 0;
		background-color: transparent;
		gap: 10px;
	}
	&__header {
		display: grid;
		gap: 10px;
	}
	&__image {
		padding-bottom: math.div(200, 290) * 100%;
		overflow: hidden;
		border-radius: 10px;
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
	}
	&__parameters {
		@include reset-list;
		display: flex;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
	}
	&__parameter {
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: center;
		gap: 5px;
		svg {
			display: block;
			width: 13px;
			height: 13px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__prices {
		display: grid;
		gap: 5px;
	}
	&__price {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}
	&__sub-price {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__disclamer {
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
}
