@use 'sass:math';

@import 'config/variables';
@import 'config/reset';
@import 'config/mixins';
// @import 'config/font-faces';

@import 'utils/common';
@import 'components/header';
@import 'components/header-category';
@import 'components/footer';
@import 'components/breadcrumbs';
@import 'components/popup';
@import 'components/pagination';
@import 'components/badges';
@import 'libs/fancybox';

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 math.div($containerPadding, 2) + px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.main {
	flex: 1 1 auto;
	padding-bottom: 120px;
	@media screen and (max-width: $xl) {
		padding-bottom: 60px;
	}
	@media screen and (max-width: $md) {
		padding-bottom: 30px;
	}
}

.footer {
	margin-top: auto;
}
