@use 'sass:math';
@import 'config/variables';
@import 'config/mixins';

@import 'components/hotel-item.scss';

@import 'components/user-review.scss';

.user-page {
	@media screen and (max-width: $md) {
		margin-bottom: -10px;
	}
	&__body {
		display: grid;
		grid-template-columns: 270px 1fr;
		gap: 30px;
		@media screen and (max-width: $xl) {
			grid-template-columns: 100%;
			gap: 20px;
		}
	}
	&__content {
	}
	&__cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		@media screen and (max-width: $xl) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 100%;
		}
	}
	& .heading {
		margin-bottom: 20px;
		&__title {
			font-weight: 700;
		}
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	&__masonry {
		column-count: 3;
		column-width: 370px;
		column-gap: 30px;
	}
	& .pagination {
		margin-top: 60px;
		@media screen and (max-width: $xl) {
			margin-top: 40px;
		}
		@media screen and (max-width: $md) {
			margin-top: 20px;
		}
	}
}
.info-user {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 40px 29px 40px;
	background: $white;
	display: grid;
	justify-content: center;
	gap: 10px;
	text-align: center;
	@media screen and (max-width: $md) {
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;
		gap: 15px;
	}
	&__logo {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		background-color: $gray-background;
		display: grid;
		place-items: center;
		font-weight: 800;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: $gray-text;
		margin: 0 auto 5px;
		@media screen and (max-width: $md) {
			width: 40px;
			height: 40px;
			margin: 0;
			font-size: 20px;
			line-height: 120%;
		}
	}
	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		@media screen and (max-width: $md) {
			font-size: 18px;
			line-height: 130%;
		}
	}
	&__date {
		font-size: 14px;
		line-height: 140%;
		@media screen and (max-width: $md) {
			width: 100%;
			text-align: left;
			padding: 14px 0;
			border-top: 1px solid $gray-line;
			border-bottom: 1px solid $gray-line;
		}
	}
	&__verified {
		border: 1px solid $gray-line;
		border-radius: 5px;
		padding: 7px 9px;
		min-height: 36px;
		display: flex;
		align-items: center;
		gap: 7px;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		margin-top: 10px;
		&::before {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			background-image: url('../images/icons/verified.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
		@media screen and (max-width: $md) {
			border: none;
			border-radius: 0;
			justify-content: flex-start;
			margin: 0;
			padding: 0;
			min-height: auto;
		}
	}
}
.navigation-user {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 11px 20px;
	background: $white;
	margin-bottom: 30px;
	min-height: 65px;
	@media screen and (max-width: $xl) {
		margin-bottom: 20px;
	}
	@media screen and (max-width: $md) {
		padding: 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		min-height: auto;
	}
	&__list {
		@include reset-list;
		display: flex;
		align-items: center;
		gap: 20px;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
			background: none;
			display: none;
		}
		@media screen and (max-width: $md) {
			gap: 0;
			padding: 0px 12px;
			margin: 0 -12px 20px;
			overflow-x: visible;
		}
	}
	&__item {
		scroll-snap-align: center;
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		border-radius: 5px;
		padding: 10px 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color $time;
		white-space: nowrap;
		&.active {
			color: $white;
			background-color: $blue-1;
		}
		@media (any-hover: hover) {
			&:hover:not(.active) {
				color: $blue-1;
			}
		}
		@media screen and (max-width: $md) {
			padding: 6px 20px;
			min-height: 34px;
			font-size: 14px;
			line-height: 140%;
		}
	}
}

.empty-block {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 29px;
	background: $white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
	&__text {
		font-size: 16px;
		line-height: 130%;
		color: $gray-text;
		max-width: 167px;
	}
	&__icon {
		width: 158px;
		height: 158px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: $md) {
			& img {
				width: 100%;
				height: 100%;
			}
		}
		.user-page-reviews & {
			width: 223px;
			height: 159px;
			@media screen and (max-width: $md) {
				width: 236px;
				height: 188px;
			}
		}
		@media screen and (max-width: $md) {
			width: 236px;
			height: 236px;
		}
	}
}
