@import 'config/variables';

.weather-widget {
	padding: 30px;
	@media screen and (max-width: $xl) {
		padding: 0;
	}
}
.content {
	& .weather-widget {
		margin-top: 40px;
		@media screen and (max-width: $md) {
			margin-top: 20px;
		}
	}
}
.card-weather {
	display: grid;
	gap: 18px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 20px;
		padding-bottom: 19px;
		border-bottom: 1px solid $gray-line;
		@media screen and (max-width: $xl) {
			flex-direction: column;
			gap: 15px;
		}
	}
	&__main {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__image {
		width: 79px;
		height: 59px;
		flex-shrink: 0;
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__degrees {
		display: flex;
		align-items: flex-start;
	}
	&__value {
		font-weight: 800;
		font-size: 48px;
		line-height: 120%;
	}
	&__sup-value {
		font-size: 16px;
		line-height: 130%;
		white-space: nowrap;
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 0px;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		margin-left: 8px;
		@media screen and (max-width: $xl) {
			margin-left: 0;
		}
		& p {
			margin-bottom: 0;
			font-size: 14px;
			line-height: 140%;
		}
	}
	&__today {
	}
	&__week-wrap {
		overflow-y: hidden;
		overflow-x: auto;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
			background: none;
			display: none;
		}
	}
	&__week {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 20px;

		@media screen and (max-width: $md) {
			gap: 5px;
		}
	}
	&__item {
		min-height: 124px;
		padding: 15px 10px 12px;
		display: flex;
		flex-direction: column;
		gap: 2px 10px;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 10px;
		& .card-weather__image {
			width: 100%;
			width: 67px;
			height: 50px;
		}
		&.active {
			background-color: #f9faff;
		}
		@media screen and (max-width: $md) {
			width: 100px;
			flex-shrink: 0;
		}
	}
	&__caption {
		width: 100%;
		font-size: 14px;
		line-height: 140%;
	}
}
.temp-weather {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	gap: 10px;
	&__value {
		&:nth-child(1) {
			font-weight: 600;
		}
	}
}
.today-weather {
	display: grid;
	gap: 7px;
	text-align: right;
	@media screen and (max-width: $xl) {
		text-align: left;
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
	}
	&__values {
		display: grid;
		gap: 3px;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__value {
	}
}
