extends ./layouts/default

block variables 
	- let pageTitle = "Восстановление пароля";
	- let breadCrumbsList = [];

append styles 
	link(href="assets/styles/auth.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/auth.js" type="module")

block content
	.auth.auth-password-code
		.container
			.auth__body 
				form(action="#").auth-form 
					.auth-form__heading
						.auth-form__title Восстановление пароля
						.auth-form__sub-title Сейчас вам придет смс-код из 4-х цифр
					.auth-form__code.code-auth
						.code-auth__caption Введите код
						.code-auth__numbers
							input(type="number", name="auth_number[]").form-input-number
							input(type="number", name="auth_number[]" disabled).form-input-number
							input(type="number", name="auth_number[]" disabled).form-input-number
							input(type="number", name="auth_number[]" disabled).form-input-number
						.code-auth__time Запросить код еще раз через: #[span 58] сек
					.auth-form__items 
						.form-item
							.form-item__field.field-password 
								input(type="password" name="auth_password" id="auth_password").form-input
								label(for="auth_password").form-label Введите новый пароль
								button(type="button").btn-password 
									span
						.form-item
							.form-item__field.field-password 
								input(type="password" name="auth_password_confirm" id="auth_password_confirm").form-input
								label(for="auth_password_confirm").form-label Подтверждение пароля
								button(type="button").btn-password 
									span
					.auth-form__footer 
						button(type="submit").btn.btn-blue Отправить 
