extends ./layouts/default

block variables 
	- let pageTitle = "Восстановление пароля";
	- let breadCrumbsList = [];

append styles 
	link(href="assets/styles/auth.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/auth.js" type="module")

block content
	.auth.auth-password-recovery
		.container
			.auth__body 
				form(action="#").auth-form 
					.auth-form__heading
						.auth-form__title Восстановление пароля
						.auth-form__sub-title Введите email или телефон, который вводили при регистрации аккаунта, мы пришлем на него код для восстановления
					.auth-form__items 
						+formItem("email", "auth_email", "Email")
					.auth-form__footer 
						button(type="submit").btn.btn-blue Отправить 
