extends ./layouts/default

block variables 
	- let pageTitle = "Алушта";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}, {"title": "Крым", "link": "/"}];
	- let currentPage = "Алушта"

append styles 
	link(href="assets/styles/city.css" rel="stylesheet")
	link(href="assets/styles/content.css" rel="stylesheet")
	link(href="assets/styles/images-widget.css" rel="stylesheet")
	link(href="assets/styles/map-widget.css" rel="stylesheet")
	link(href="assets/styles/facility-preview.css" rel="stylesheet")
	link(href="assets/styles/weather-widget.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/map.js")
	script(src="assets/scripts/city.js" type="module")

block content 
	.city 
		.container 
			.page-title= pageTitle
			+cityNavigation(0)
			.city__wrapper 
				.city__image.ibg
					img(src="assets/images/city/city-main/main.jpg", alt="фото")
				.city__body.city-layout
					aside.aside
						+asideNavigation([...cityPage.resorts], "Курорты рядом")
					.content-groups 
						.content-group
							.content 
								h2 Отдых в Алуште 2024
								p Алушта – курортный город, расположен на Южном берегу Крыма. Следует отметить великолепный ландшафт и уникальное расположение: город окружен горами, которые создают надежную защиту от ветра. Поэтому Алушта и привлекла кинематографистов: известный советский фильм «Кавказская пленница» снимался именно там, возле полуразрушенной крепости.
								p Климат средиземноморский, жаркий, но зимы в Алуште теплые и мягкие. Город имеет развитую инфраструктуру и единственный в Европе междугородний троллейбусный маршрут Симферополь-Алушта-Ялта.
								+imagesWidget([1, 2], "images2-widget")
								p В свободное время рекомендуем посетить мыс Плака, музей природы Крымского заповедника, дом-музей Сергеева-Ценского, парк-музей князей Бороздиных-Гагариных.
								p Каждый год Алушта привлекает все больше и больше новых туристов.
								+facilitiesBlock([...cityPage.badgesList], true)
									each hotel in cityPage.hotels
										+facilityPreview(hotel, "city/city-main/hotels")
						.content-group
							.content 
								h2 Жилье в Алуште
								p Привлекательность Алушты для туристов очевидна с первого взгляда: город расположен у моря, цены на жилье сравнительно невысокие, климат мягкий и полезный для здоровья. Отдых в Алуште на берегу моря традиционно считался престижным, поэтому курорт пользуется большой популярностью и у современных туристов. Жилье для отдыха в Алуште найти несложно. При этом здесь уверенно себя будет чувствовать абсолютно любой турист: и отдыхающие с детьми, и пары, и самостоятельные путешественники. Ценовой диапазон очень разнообразный, как и уровень жилья и предоставляемого сервиса. Жить в городе можно как у самого моря, так и ближе к центру. Хотя большая часть вариантов недорогого жилья расположена в менее удобных районах.
								p В Алуште жилье можно снимать у хозяев без посредников, а можно обращаться в агентства по подбору квартир. Также здесь есть масса отелей, вилл и пансионатов, которые предлагают комплексные условия «все включено». Отдых с питанием будет особенно актуальным для семей с маленькими детьми, а также тех, кто ежедневно проводит дни на кухне. Бронирование можно осуществлять через Интернет - в таком случае нужно тщательно изучить фотографии и отзывы отдыхающих, чтобы отдых на берегу моря не стал разочарованием.
						.content-group
							.content 
								h2 Как добраться до Алушты? Карта проезда
								p Самый эффективный, быстрый и приятный способ попасть на полуостров - прилететь сюда самолетом. Из Симферополя можно дешево доехать до города, поскольку в этом направлении ездит большое количество общественного транспорта. Есть и рейсовый автобусы, и частные маршрутные такси. Как правило, карта проезда наглядно демонстрирует как лучше добраться до жилья, поэтому несложно будет и тем, кто приехал на машине или взял здесь ее в аренду. К слову, бронирование автомобилей довольно популярно в Крыму, поскольку позволяет туристу увидеть не только город и его окраины, но еще и попутешествовать по полуострову. Отдых в Алуште в 2024 году обещает оставаться таким же популярным среди туристов, поэтому можно рассчитывать и на попутчиков, которые «подбросят» из Симферополя.
								p Интересно то, что в Алушту можно добраться также на троллейбусе. Есть рейсы прямо с автостанции возле аэропорта и с автостанции Курортная (на ж/д вокзале). Стоимость билета около 50 руб, что сравнительно недорого. Едва ли где-то еще можно прокатиться в течение полутора часов на городском троллейбусе, курсирующим между городами! Вот что называется отдыхать дешево, без посредников, и с массой впечатлений!
								.map#map
						.content-group
							.content 
								h2 Немного истории
								p По приказу Византийского императора Юстиниана І была построена крепость, названа Алустон.
								p Впервые Алушта упоминается в середине Х века в письме хазарского царя Йосифа. А в середине ХІІ века, по данным арабского путешественника Абу Абдаллаха и его сочинения «Географические развлечения», она стала важным приморским городом. Но арабы тогда называли этот город Шалушта. В XV веке была основана генуэзская колония. Здесь находились генуэзский консул, епископ. Но вскоре Алушта перешла во владения Турции, город превратился в деревню в составе Судацкого кадилика.
								+imagesWidget([3, 4, 5, 6], "images4-widget")
								p В XVIII веке итогом борьбы России и Турции стало присоединения Крыма к Российской империи. Алушта освободилась от влияния враждебной страны и стала центром волости Ялтинского уезда. Интересной является перепись населения 1897 года: население составляло 2187 человек (мужчин на 200 человек больше), две трети исповедовали ислам. Жители имели свой винокурный завод, церковь, 2 мечети, школу, аптеку.
								p В ХХ веке постепенно росло значение Алушты, как курортного города. Развивалась инфраструктура, привлекались туристы. Многие писатели искали вдохновение в Алуште, например, М. Горький, М. Коцюбинский, А. Куприн, К. Паустовский.
						.content-group
							.content 
								h2 Развлечения в Алуште
								p Отдых в Алуште с детьми или без, на двоих или одного - это уже само по себе развлечение! Хотя, безусловно, город не скупится на всевозможные достопримечательности, зоны отдыха и места приятного времяпрепровождения. Самое главное развлечение на курорте, расположенном у самого моря, и есть это чудо природы: нежное, соленое, бурлящее море! Отзывы отдыхающих, как правило, начинаются именно с рассказов про море, и это логично, ведь в Алушту едут именно за этим. Однако, поскольку город очень древний и имеет богатую историю, здесь хорошо сохранились храмы и мечети, башни и дворцы, построенные еще в XII- XV веках.
								p На набережной много точек представителей турагентств, которые помогут выбрать интересный маршрут. Рекомендуем выбирать экскурсии по тарифу «все включено»: в стоимость уже включен проезд туда-обратно, услуги гида-экскурсовода, входные билеты на посещаемые объекты и, иногда, обед.
								+imagesWidget([7, 8], "images2-widget")
								+facilitiesBlock([{"title": "Развлечения", "link": "#"}], false)
									each hotel in cityPage.facilities
										+facilityPreview(hotel, "city/facilities", 'recreation-card')
								p Наверное, каждому знакомо фото горы Демерджи или Чатыр-Даг, которые манят туристов, отдыхающий по всему приморскому берегу. Для отдыхающих с ребенком в 2024 году особенно интересным будет посещение Алуштинского аквариума, парка миниатюр и дельфинария «Акварель». Также в непосредственной близости от города, в поселке Партенит, есть прекрасный парк «Айвазовское» и «поющие фонтаны», расположенные под открытым небом. Прекрасная возможность привести домой потрясающие фотографии!
								p Еще одним популярным развлечением является музей катастроф на водах - сюда приезжают, в основном взрослые, которые интересуются историей или морским делом. Любителям природных достопримечательностей рекомендуем посетить долину приведений - скалистая местность, где любое фото выглядит незаурядно.
						.content-group
							.content 
								h2 Пляжи в Алуште
								p Сама природа подарила этому городку потрясающие пляжи. Здесь они в основном, галечные, что очень удобно и полезно для здоровья. В отличие от песка, галька не очень сильно нагревается на солнце, а это значит, что по ней легко и удобно ходить. Кроме того, песок в ветреную погоду разносится воздушным порывами, попадает в глаза и рот, что особенно проблематично на отдыхе с ребенком у моря. Впрочем, в окрестностях Алушты есть и пляжи с песком.
								p Темный сланцевый песок делает здешние пляжи уникальными. Всем, у кого слабые места − дыхательная, нервная и сердечно-сосудистая система – врачи рекомендуют посетить Алушту с ее целебным воздухом. Тем более что большой выбор санаториев, их насчитывается около 78, удовлетворит любой вкус.
								+imagesWidget([9, 10], "images2-widget")
								p В Алуште пляжи считаются самыми доступными: в городе и его ближайших окраинах есть много «городских», т.е. бесплатных пляжей. Некоторые из них оборудованы навесами, можно взять на день шезлонг, арендная стоимость которого составит около 100-150 руб.
								p Поскольку курорт очень популярный, количество отдыхающей на пляжах немаленькое. И, конечно же, чем дальше пляж находится от черты города или от центра, тем меньше людей его посещают.
						.content-group
							.content 
								h2 Климат
								p Климат Алушты - это отдельная его достопримечательность. Температура очень комфортна здесь в течение всего года, и даже летом здесь совсем не жарко. В июле и августе, в среднем, градусники показывают около 30, а в сентябре и июне - около 25. Поэтому сезон здесь официально открыт с конца апреля по начало октября. Осенью, в основном, приезжают пары: отдых на двоих получается дешевле, а комфорта больше - свободные пляжи, тишина, недорого стоят номера с питанием.
								p Летом дожди бывают редко, в основном осадки выпадают в январе и феврале. Хотя кто сказал, что в Алушту нельзя приезжать зимой? Заснеженные кипарисы - зрелище на удивление красивое, а город живет своей размеренной, спокойной жизнью.
								p Температура воды в море наиболее пригодна для купания с июня по октябрь. В эти месяцы оно прогревается до 25-26 градусов. В мае море еще достаточно холодное, вода едва ли нагревается до 18 градусов. Поэтому пляжный отдых в Алуште в основном приходится на летние месяцы и начало осени - в это время в городе бушует жизнь, на пляжах нежатся отдыхающие, а по достопримечательностям прогуливаются туристы.
								include ./components/weather-widget
				include ./components/city-testimonials
