extends ./layouts/default

block variables 
	- let pageTitle = "Алушта";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}, {"title": "Крым", "link": "/"}];
	- let currentPage = "Алушта"

append styles 
	link(href="assets/styles/city-hotels.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/city.js" type="module")
	script(src="assets/scripts/city-hotels.js" type="module")

block content 
	.city-hotels
		.container 
			.page-title= pageTitle
			+cityNavigation(1)
			.heading.city-heading
				.heading__title.title-xs Жилье в Алуште
				.heading-actions
					.sorting
						.sorting__caption Сортировать:
						button(type="button").sorting-button-mobile Сортировать 
						ul.sorting__list
							li.sorting__list-item Популярность
							li.sorting__list-item Рейтинг
							li(data-sort="up").sorting__list-item.active Цена
					button(type="button").filter-button-mobile Фильтры
					button(type="button").map-button-mobile Карта
			.city-layout 
				aside.aside
					.aside-object
						+objectCard(otherObjcets[3], 'active')
					+asideMap
					.aside-form
						form(action="#", method="post").form
							.form-heading 
								.form-heading__title Фильтры
								.form-heading__actions 
									button(type="reset").form-heading__button-reset.btn-reset Сбросить
									button(type="button").form-heading__close.btn-close
							.form-groups 
								+fieldGroup("Регион, город")
									.form-group__items
										+customDropdown([...dropdowns.region], "Крым")
										+customDropdown([...dropdowns.city], "Алушта")
								+fieldGroup("Цена за сутки,₽")
									.form-group__values 
										.form-group__value 
											span.form-group__value-caption от
											input(type="number" name="range_from" data-min="0" value="0").form-group__value-input.min
										.form-group__value 
											span.form-group__value-caption до
											input(type="number" name="range_to" data-max="10000" value="10000").form-group__value-input.max
									.form-group-slider
								+fieldGroup("Тип жилья")
									.form-group__items
										each item, index in hotelCheckboxes.type
											+checkbox(item, index, "type")
									//- +btnShow
								+fieldGroup("Инфраструктура")
									.form-group__items
										each item, index in hotelCheckboxes.objects
											+checkbox(item, index, "objects")
									+btnShow
								+fieldGroup("Питание")
									.form-group__items
										each item, index in hotelCheckboxes.food
											+checkbox(item, index, "food")
									//- +btnShow
								+fieldGroup("Общие")
									.form-group__items
										each item, index in hotelCheckboxes.common
											+checkbox(item, index, "common")
									//- +btnShow
							.aside-form__bottom 
								button(type="submit").btn-submit.btn.btn-blue 
									span.btn-text-pc Применить 
									span.btn-text-mobile Показать 81 результат 
								button(type="reset").btn-reset Сбросить 
					+asideNavigation([...cityPage.resorts], "Курорты рядом")
				.city-wrapper 
					.city-hotels__list
						each item in cityPage.hotels
							+hotelPreview(item)
					+pagination([...pagination], [...paginationMobile], 3)
			include ./components/city-testimonials