extends ./layouts/default

block variables 
	- let pageTitle = "Алушта";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}, {"title": "Крым", "link": "/"}];
	- let currentPage = "Алушта"

append styles 
	link(href="assets/styles/facilities.css" rel="stylesheet")
	link(href="assets/styles/forms.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/city.js" type="module")

block content 
	.city-facilities
		.container
			.page-title= pageTitle
			+cityNavigation(7)
			.heading 
				.heading__title.title-xs Где взять транспорт
			.city-layout 
				aside.aside 
					+objectCard(otherObjcets[1], 'active')
					.aside-form
						form(action="#", method="post").form 
							.form-groups 
								+fieldGroup("Регион, город")
									.form-group__items
										+customDropdown([...dropdowns.region], "Крым")
										+customDropdown([...dropdowns.city], "Алушта")
								+fieldGroup("Раздел")
									+customDropdown([...dropdowns.section], "Транспорт")
								+fieldGroup("Категория")
									.form-group__items
										each item, index in filterCheckboxes.transport
											+checkbox(item, index, "transport")
				.city-wrapper 
					.city-facilities__body
						each item in cityPage.facilitiesList.transport
							+facilityCardPreview(item)
					if cityPage.facilitiesList.transport.length > 3
						+pagination([...pagination], 3)