extends ./layouts/default

block variables 
	- let pageTitle = "Услуги и тарифы сайта “На Юга”";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}];
	- let currentPage = "Тарифы";

append styles 
	link(href="assets/styles/services.css" rel="stylesheet")

block content 
	.services 
		.container 
			+pageHeading(pageTitle)
				.page-heading__sub-title 
					p Размещение информации об объектах размещения на сайте платное, стоимость размещения зависит от курорта. Цена указана в рублях, срок действия услуги 1 год.
			.services__body 
				table.services__table 
					thead.thead
						tr
							each item in servicesPage.table.head
								th= item
					tbody 
						each item in servicesPage.table.row
							tr 
								td.td-resort= item.resort
								td.td-price(data-price="Стандартное размещение для гостиниц и гостевых домов")= item.hotelPrice
								td.td-price(data-price="Стандартное размещение для квартир и объектов под ключ")= item.roomPrice