extends ./layouts/default

block variables 
	- let pageTitle = "Здравствуйте, меня зовут Гульнара!";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}];
	- let currentPage = "Здравствуйте, меня зовут Гульнара!";

append styles 
	link(href="assets/styles/user.css" rel="stylesheet")

block content 
	.user-page.user-page-advert
		.container 
			.page-title= pageTitle
			.user-page__body 
				include ./components/userAside
				.user-page__content 
					+userNavigation([...userPage.navigation], 0)
					.heading 
						.heading__title.title-xs Мои объявления
					.user-page__cards
						- for (var x = 0; x < 2; x++)
							+hotelPreview(cityPage.hotels[0], "active")