extends ./layouts/default

block variables 
	- let pageTitle = "Здравствуйте, меня зовут Гульнара!";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}];
	- let currentPage = "Здравствуйте, меня зовут Гульнара!";

append styles 
	link(href="assets/styles/user.css" rel="stylesheet")

block content 
	.user-page.user-page-reviews
		.container 
			.page-title= pageTitle
			.user-page__body 
				include ./components/userAside
				.user-page__content 
					+userNavigation([...userPage.navigation], 1)
					.heading 
						.heading__title.title-xs Отзывы гостей
					.user-page__cards
						- for (var x = 0; x < 3; x++)
							.reviews-item
								.reviews-item__body 
									.reviews-item__place.place-reviews 
										.place-reviews__image.ibg
											img(src=`assets/images/user/reviews/1.jpg`, alt="место")
										.place-reviews__name.anim-title
											span Гостиница “Южный Берег”
										address.place-reviews__address Голубицкая, ул.&nbsp;Красная, д.&nbsp;178
									.reviews-item__info 
										.reviews-item__author Марина
										.reviews-item__date 12.08.22
										.reviews-item__rating 
											+rating
										.reviews-item__text 
											p Шикарное расположение, прямо в самом-самом центре. Рядом остановка есть, до парка Краснодар удобно добираться. В хостеле есть разделение на женские и мужские номера. Контингент приличный. Белье чистое и в помещении для хостела тоже довольно чисто. Для бюджетного варианта с хорошим расположением самое то