.main-content {
	padding: 62px 0 3px;
	@media screen and (max-width: $md) {
		padding: 15px 0 0;
	}
	&__body {
		display: grid;
		justify-items: start;
		gap: 40px;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
	}
	&__items {
		display: grid;
		gap: 30px;
		position: relative;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
	}
	&__gradient {
		position: absolute;
		z-index: 2;
		bottom: -20px;
		height: 65%;
		width: 100%;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
		transition: opacity $time;
	}
	&__item {
		display: grid;
		gap: 30px;
		@media screen and (max-width: $md) {
			gap: 20px;
		}
		&:nth-child(1) {
			&.content p {
				font-size: 20px;
				line-height: 140%;
			}
		}
		&:nth-child(2) {
			gap: 15px;
		}
		&:nth-child(3) {
			gap: 20px;
			p {
				font-size: 16px;
			}
		}
	}

	&__caption {
		font-weight: 800;
		font-size: 40px;
		line-height: 120%;
		@media screen and (max-width: $md) {
			font-size: 32px;
			line-height: 130%;
		}
	}
	&__text {
		font-weight: 400;
		// font-size: 20px;
		// line-height: 140%;
	}
	&__button {
		gap: 10px;
		position: relative;
		z-index: 2;
		padding-left: 24px;
		padding-right: 24px;
		&::after {
			content: '';
			display: block;
			width: 13px;
			height: 13px;
			mask-image: url('../images/icons/arrow-blue.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $blue-1;
			transition: background-color $time;
		}
	}

	& .content {
		p {
			font-size: 16px;
			line-height: 140%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& ul li {
			font-size: 16px;
			line-height: 140%;
		}
		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
		& ul {
			margin-bottom: 30px;
		}
	}
}
