.main-content {
	padding: 61px 0 0;
	&__body {
		display: grid;
		justify-items: start;
		gap: 40px;
	}
	&__items {
		display: grid;
		gap: 30px;
		position: relative;
	}
	&__gradient {
		position: absolute;
		z-index: 2;
		bottom: -40px;
		height: 65%;
		width: 100%;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	}
	&__item {
		display: grid;
		gap: 30px;
		&:nth-child(2) {
			gap: 15px;
			& .main-content {
				&__caption {
					font-size: 32px;
				}
				&__text {
					font-size: 16px;
				}
			}
		}
	}

	&__caption {
		font-weight: 800;
		font-size: 40px;
		line-height: 120%;
	}
	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
	}
	&__button {
		gap: 10px;
		position: relative;
		z-index: 2;
		&::after {
			content: '';
			display: block;
			width: 13px;
			height: 13px;
			mask-image: url('../images/icons/arrow-blue.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $blue-1;
		}
	}
}
.container {
}
.btn {
}
.btn-blue-transparent {
}
