@use 'sass:math';
@use '../../libs/swiper.scss';
.main-news {
	overflow: hidden;
	padding: 61px 0 51px;
	@media screen and (max-width: $md) {
		padding: 0 0 15px;
	}
	& .heading {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
		@media screen and (max-width: $md) {
			margin-bottom: 20px;
			display: block;
		}
	}
	&__wrapper {
		background-color: $gray-background;
		padding: 100px 0 102px;
		@media screen and (max-width: $md) {
			padding: 30px 0;
		}
	}
	&__slider {
		overflow: visible;
	}
	&__body {
		position: relative;
	}
	&__bottom {
		display: none;
		margin-top: 20px;
		@media screen and (max-width: $md) {
			display: block;
		}
	}
	& .slider-controls {
		@media screen and (max-width: $md) {
			display: none;
		}
	}
}
.news-card {
	flex-shrink: 0;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	width: 30%;
	display: flex;
	flex-direction: column;
	&__image {
		border-radius: inherit;
		height: 320px;
		@media screen and (max-width: $md) {
			height: 250px;
		}
	}
	&__body {
		padding: 19px 29px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		gap: 10px;
		border: 1px solid $gray-line;
		border-radius: 0 0 10px 10px;
		flex: 1 1 auto;
		@media screen and (max-width: $md) {
			padding: 10px 15px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 120%;
	}
	&__description {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		-webkit-line-clamp: 3;
		& p {
			display: inline;
		}
	}
	&__link {
		text-decoration: underline;
		color: $blue;
		display: inline-block;
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
		margin-top: auto;
	}
	&__date {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $gray-text;
	}
	&__badge {
		border-radius: 5px;
		padding: 5px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 34px;
		width: 87px;
		background: #eff2f8;
	}
}
