@import '../../components/aside-navigation.scss';

.city {
	&__navigation {
	}
}

.city-heading {
	& .heading__title {
		@media screen and (max-width: $md) {
			display: none;
		}
	}
	@media screen and (max-width: $md) {
		display: none;
	}
}

.navigation-city {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 12px 20px;
	min-height: 65px;
	background: $white;
	margin-bottom: 30px;
	position: relative;
	@media screen and (max-width: $md) {
		background-color: transparent;
		padding: 2px 12px;
		border: none;
		margin: 0 -12px;
		margin-bottom: 20px;
		min-height: auto;
	}
	&__list {
		@include reset-list;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 7px;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
			background: none;
			display: none;
		}
		@media screen and (max-width: $md) {
			gap: 0;
		}
	}
	&__item {
		scroll-snap-align: start;
		&.expanded {
			& .navigation-city__link {
				gap: 10px;
				&::after {
					content: '';
					width: 19px;
					height: 19px;
					mask-image: url('../images/icons/plus.svg');
					mask-repeat: no-repeat;
					mask-position: center;
					background-color: currentColor;
				}
			}
			@media screen and (max-width: $md) {
				display: none;
			}
		}
		&.hidden {
			display: none;
			@media screen and (max-width: $md) {
				display: block;
			}
		}
	}
	&__link {
		padding: 10px 30px;
		min-height: 41px;
		border-radius: 5px;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $black;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color $time;
		white-space: nowrap;
		&.active {
			background-color: $blue-1;
			color: $white;
		}
		@media (any-hover: hover) {
			&:not(.active):hover {
				color: $blue-1;
			}
		}
		@media screen and (max-width: $md) {
			padding: 6px 20px;
			font-size: 14px;
			min-height: 32px;
			font-weight: 400;
		}
		&.show + .navigation-city__sub-list {
			opacity: 1;
			top: calc(100% + 33px);
			pointer-events: all;
		}
	}
	&__sub-list {
		@include reset-list;
		position: absolute;
		z-index: 5;
		top: calc(100% + 53px);
		right: 0;
		border: 1px solid $gray-line;
		border-radius: 10px;
		padding: 19px 20px;
		width: 207px;
		box-shadow: 10px 4px 40px 0 rgba(53, 68, 85, 0.25);
		background: white;
		display: grid;
		gap: 20px;
		opacity: 0;
		pointer-events: none;
		transition:
			top $time,
			opacity $time;
	}
	&__sub-link {
		min-height: 41px;
		display: grid;
		place-items: center;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: $black;
		transition: color $time;
		@media (any-hover: hover) {
			&:not(.active):hover {
				color: $blue-1;
			}
		}
	}
}

.city-layout {
	display: grid;
	grid-template-columns: 270px 1fr;
	// align-items: start;
	gap: 30px;
	@media screen and (max-width: $xl) {
		display: block;
	}
}

.city-wrapper {
	display: grid;
	grid-template-columns: 100%;
	gap: 60px 0px;
	@media screen and (max-width: $md) {
		gap: 20px 0;
	}
}

.aside {
	display: grid;
	align-items: start;
	gap: 20px;
	&__caption {
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		color: #000;
	}
	@media screen and (max-width: $xl) {
		// display: none;
	}
}

.city-main {
	@media screen and (max-width: $md) {
		& .aside {
			margin: 25px -12px 0;
			background-color: $white;
			padding: 20px 12px;
		}
		& .page-title {
			margin-bottom: 30px;
		}
	}
}

.city-hotels {
	& .city-layout {
		align-items: start;
	}
	& .city-testimonials {
		padding: 30px 12px;
		margin: 30px -12px -30px;
		background-color: $white;
	}
	& .city-heading {
		@media screen and (max-width: $md) {
			display: flex;
		}
	}
}

.city-weather .navigation-city {
	@media screen and (max-width: $md) {
		margin-bottom: 30px;
	}
}
.city-facilities {
	& .aside-object {
		@media screen and (max-width: $xl) {
			display: none;
		}
	}
	& .city-layout {
		align-items: start;
	}
}

.aside-form {
	border: 1px solid $gray-line;
	border-radius: 10px;
	padding: 19px 20px;
	background: $white;
	@media screen and (max-width: $xl) {
		border: none;
		border-radius: 0;
		padding: 20px 20px 0;
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 50px);
		z-index: 12;
		overflow-y: auto;
		overflow-x: hidden;
		transition: bottom $time * 2;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			width: 0;
			height: 0;
			background: none;
			display: none;
		}
		& .form {
			display: grid;
			grid-template-rows: auto auto 1fr;
			height: 100%;
		}
		&.active {
			bottom: 0;
		}
	}
	& .form__bottom-wrap {
		display: none;
		@media screen and (max-width: $xl) {
			display: flex;
			align-items: flex-end;
			justify-content: stretch;
			position: sticky;
			bottom: 0;
			margin: 0 -12px;
		}
	}
	& .form__bottom {
		border-top: 1px solid $gray-line;
		box-shadow: 0 -10px 10px 0 rgba(17, 29, 34, 0.05);
		background: $white;
		padding: 10px 12px;
		margin-top: 20px;
		width: 100%;
		& .btn {
			width: 100%;
		}
	}
}
.form-heading {
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $gray-line;
	margin-bottom: 30px;
	display: none;
	@media screen and (max-width: $xl) {
		display: flex;
	}
	&__title {
		font-size: 18px;
		line-height: 130%;
		font-weight: 700;
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: 18px;
	}
	&__close {
		width: 20px;
		height: 20px;
		flex-shrink: 0;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			mask-image: url('../images/icons/close-gray.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $gray-text;
		}
	}
}

.filter {
	@media screen and (max-width: $xl) {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 50px);
		background-color: $white;
		z-index: 6;
		padding: 20px 12px 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: bottom $time * 2;
		&.active {
			bottom: 0;
		}
	}
	&-form {
		@media screen and (max-width: $xl) {
			height: 100%;
			display: grid;
			grid-template-rows: auto auto 1fr;
		}
	}
	& .form-heading {
		display: none;
		@media screen and (max-width: $xl) {
			display: flex;
			margin-bottom: 10px;
		}
	}
}
