.main-content
    .container 
        .main-content__body
            .text-hidden 
                .text-hidden-content
                    .main-content__items.content-box
                        .main-content__item.content
                            h2 Как организовать отдых на море в 2024 году?
                            .main-content__text 
                                p Мягкий климат, большое количество развлечений, густая растительность и, конечно же, теплое море – это все те радости, которые ожидают гостей Краснодарского края, Абхазии и Крыма. Ежегодно огромное количество туристов отправляется на черноморское и азовское побережье в поисках ярких впечатлений, расслабляющего отдыха и гастрономических ощущений.
                        .main-content__item.content
                            h3 Какой формат отдыха возможен на Черном и Азовском море?
                            .main-content__text 
                                p Если планируете отдых на море 2024, то прежде всего стоит определиться с маршрутом. За одну поездку на юга можно посетить сразу несколько городов и поселков. Стоит изучить, чем популярен тот или иной регион, чтоб оправдались ожидания.
                        .main-content__item.content
                            h3 Какой формат отдыха возможен на Черном и Азовском море?
                            .main-content__text 
                                ul 
                                    li Комфортный отдых по формату “все включено” с развлечениями на территории.
                                    li Экономный вариант, возможно даже с проживанием в палатках на территории кемпингов на берегу.
                                    li Гастротур по винодельням, сыроварням, горным пасекам и прочим местам с дегустациями.
                                    li Экскурсионный по достопримечательностям. Особенно интересны дворцы на южном берегу Крыма.
                                    li Максимально активный с пешими походами и экстрим-развлечениями.
                                    li Пляжный: с релаксом у моря и неспешными прогулками по набережной.
                        //-         p Курорты разнообразны, привлекательны и будут интересны для путешественников любого возраста.
                    div.main-content__gradient.text-hidden-gradient
            button(type="button").main-content__button.btn.btn-blue-transparent.btn-show-more
                span.text-btn-more Далее
                span.text-btn-hide Свернуть
