.main-news
	.main-news__wrapper
		.container 
			.heading 
				.heading__title Новости
				.main-news__button(data-da=".main-news__bottom, 767.98, 0")
					+linkTpl("Все новости", "btn-blue")
		.main-news__body 
			.container
				.main-news__slider.swiper
					.main-news__slider-wrapper.swiper-wrapper 
						each item in homePage.news
							.main-news__item.news-card
								.news-card__image.ibg
									img(src=`assets/images/homepage/main-news/news-${item.img}.jpg`, alt=item.title)
								.news-card__body 
									.news-card__title= item.title
									.news-card__description.text-clamp
										p= item.descr
										+btnDetail("Подробнее")
									.news-card__bottom 
										.news-card__date 21.06.24
										.news-card__badge Новости
				.main-news__bottom
			.slider-controls 
				button(type="button").slider-button.slider-button-prev 
				button(type="button").slider-button.slider-button-next 