.main-hotels 
	.container 
		.heading 
			.heading__title Последние добавленные отели
		+facilitiesBlock([], "Посмотреть все предложения")
			each hotel in homePage.hotels
				+facilityPreview(hotel, "homepage/main-hotels")