.main-screen 
		.container 
			.main-screen__body
				.main-screen__title ЖИЛЬЕ ДЛЯ ОТДЫХА 2024
				.main-screen__subtitle Отели, гостевые дома, квартиры и апартаменты на берегу моря
				form(action="#").search-form
					.search-form__inner
						input(type="text" placeholder="Введите название курорта или отеля").search-form__input 
						button(type="submit").search-form__button.btn.btn-blue Найти
		.main-screen__image 
			img(src="assets/images/homepage/main-screen/bg.jpg", alt="картинка")