.main-content
    .container 
        .main-content__body
            .main-content__items 
                .main-content__item 
                    .main-content__caption Как организовать отдых на море в 2024 году?
                    .main-content__text 
                        p Мягкий климат, большое количество развлечений, густая растительность и, конечно же, теплое море – это все те радости, которые ожидают гостей Краснодарского края, Абхазии и Крыма. Ежегодно огромное количество туристов отправляется на черноморское и азовское побережье в поисках ярких впечатлений, расслабляющего отдыха и гастрономических ощущений.
                .main-content__item 
                    .main-content__caption Какой формат отдыха возможен на Черном и Азовском море?
                    .main-content__text 
                        p Если планируете отдых на море 2024, то прежде всего стоит определиться с маршрутом. За одну поездку на юга можно посетить сразу несколько городов и поселков. Стоит изучить, чем популярен тот или иной регион, чтоб оправдались ожидания.
                .main-content__gradient
            a(href="#").main-content__button.btn.btn-blue-transparent Далее 
