doctype html
html(lang="ru")
	block variables
	include ../helpers/mixins
	include ../helpers/variables
	head 
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title #{pageTitle}
			//- meta(name='viewport', content='width=1320px, initial-scale=1')
			meta(name="description" content="description")
			meta(name="keywords" content="Перечень ключевых слов")
			meta(property="og:type" content="website")
			meta(property="og:url" content="https://example.com")
			meta(property="og:title" content=pageTitle)
			meta(property="og:description" content="description")
			meta(property="twitter:title" content=pageTitle)
			meta(property="twitter:description" content="description")
			link(rel="canonical" href="https://example.com")
			block styles
				link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet")
				link(href="assets/styles/main.css" rel="stylesheet")
			meta(name="format-detection" content="telephone=no")
			meta(name="format-detection" content="address=no")
			meta(name="format-detection" content="email=no")
			meta(name="format-detection" content="date=no")
			link(type="image/svg" rel="icon" href="assets/images/favicon.svg" )
			link(type="image/x-icon" rel="shortcut icon" href="assets/images/favicon.ico")
			link(rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png")
			link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png")
			link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png")
			//- link(rel="manifest" href="assets/images/site.webmanifest")
			link(rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5")
			meta(name="msapplication-TileColor" content="#ffffff")
			meta(name="theme-color" content="#ffffff")
			meta(name="msapplication-navbutton-color" content="#fff")
			meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
			meta(name="apple-mobile-web-app-title" content="Название")
			meta(name="apple-mobile-web-app-capable" content="yes")
	body(class=bodyClass ? bodyClass : '')
		div.wrapper
			include ../components/header
			if !bodyClass
				include ../components/breadcrumbs
			if isDevPage
				block content
				include ../components/footer
			else 
				main.main
					block content
				include ../components/footer
			.overlay
		block modals 
			include ../components/modals
		block scripts
			script(src="assets/scripts/main.js" type="module")
