header.header
    .container
        .header__body 
            .header__left
                a.header__logo.logo(href="homepage.html")
                    if bodyClass
                        img(src="assets/images/logo.svg", alt="логотип")
                    else 
                        img(src="assets/images/logo-blue.svg", alt="логотип")
                .header__choices
                    button(type="button").header__btn-choice.btn.btn-transparent Выберите курорт
            .header__links 
                a.header__favorite(href="#")
                a(href="auth.html").header__btn-auth.btn.btn-transparent Авторизация
                a(href="add-project.html").header__btn-add.btn.btn-white Добавить проект

