aside.aside 
    .user-page__info.info-user
        .info-user__logo Г 
        .info-user__name Гульнара
        .info-user__date На сайте с 2022 года
        .info-user__verified Аккаунт верифицирован